body {
	background-color: #F2F2F2;
}

table {
	background-color: #FFF;
}

form input[type=submit] {
	margin: 0;
}

input[type=text] {
	border-radius: 0;
	height: 22px;
}

input[type=button] {
	height: 22px;
}

.my-stuff {
	background-color: #f2f2f2;
}

.panel>.table {
	margin-top: 0;
}

#myContent {
	background: #f2f2f2;
	padding: 50px 75px;
	margin: 20px 0;
}

#listContent {
	background: #f2f2f2;
	padding: 50px 40px;
	margin: 20px 0;
}

.ap-btn {
	height: auto;
	padding: 5px 10px;
	border: 1px solid #333;
	font-family: "Apercu Regular", Arial, Helvetica, sans-serif;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	cursor: pointer;
	margin-left: 0;
	margin-right: 10px;
	background: #333;
	color: #fff;
	text-transform: capitalize;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0;
}

.ap-btn:hover {
  background: #222;
  color: #f9f9f9;
}

.half-width {
	width: 50%;
}

.quarter-width {
	width: 25%;
}


