body {
	background-color: #F2F2F2;
}

table {
	background-color: #FFF;
}

form input[type=submit] {
	margin: 0;
}

input[type=text] {
	border-radius: 0;
	height: 22px;
}

input[type=button] {
	height: 22px;
}

.my-stuff {
	background-color: #f2f2f2;
}

.panel>.table {
	margin-top: 0;
}

#myContent {
	background: #f2f2f2;
	padding: 50px 75px;
	margin: 20px 0;
}

#listContent {
	background: #f2f2f2;
	padding: 50px 40px;
	margin: 20px 0;
}
