.organization-header h1 {
  font-size: 45px;
  line-height: 48px;
}
.organization-header {
  position: relative;
  max-width: 700px;
  height: 96px;
  color: #bbb;
  font-size: 20px;
  line-height: 24px;
}
@media (min-width: 680px) {
  .organization-header {
    font-size: 37px;
    line-height: 40px;
    height: 160px;
  }
}
@media (min-width: 920px) {
  .organization-header {
    font-size: 45px;
    line-height: 48px;
    height: 192px;
  }
}

.organization-header a {
  text-decoration: none;
}
.organization-header h1 a {
  color: #333;
}
.organization-header h1 a:hover {
  border-bottom: 1px solid #111111;
}
@media (min-width: 680px) {
  .organization-header h1 a:hover {
    border-bottom-width: 2px;
  }
}
@media (min-width: 920px) {
  .organization-header h1 a:hover {
    border-bottom-width: 3px;
  }
}
.organization-header .logo-parts {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 999;
}
@media (min-width: max-width 679px) {
  .organization-header .logo-parts {
    display: none;
  }
}
.organization-header h1, .organization-header .taglines, .organization-header p {
  display: inline;
}
.organization-header .communities {
  display: inline;
}
.organization-header .communities li {
  display: inline;
}
