.organization-header h1 {
  font-size: 20px;
  line-height: 24px;
  padding-left:0px;
}
.organization-header {
  position: relative;
  max-width: 700px;
  height: 96px;
  color: #bbb;
  font-size: 20px;
  line-height: 24px;
  margin-bottom:20px;
}
.organization-header a:hover {
  text-decoration:none;
}
@media (min-width: 680px) {
  .organization-header,
  .organization-header h1 {
    font-size: 37px;
    line-height: 40px;
    height: 160px;
  }
}
@media (min-width: 920px) {
  .organization-header {
    height:auto;
  }
}
.organization-header.has-taglines {
  height: 96px;
  margin-bottom:0px;
}
@media (min-width: 680px) {
  .organization-header.has-taglines {
    height: 160px;
  }
}
@media (min-width: 920px) {
  .organization-header.has-taglines {
    height: 192px;
  }
}
/* organization header only on the homepage */
/*
.front .organization-header {
  height:auto;
}
@media (min-width: 680px) {
  .front .organization-header {
    height: auto;
  }
}
@media (min-width: 920px) {
  .front .organization-header {
    height: auto;
  }
}
*/
/* end org header on home only */

.organization-header a {
  text-decoration: none;
}
.organization-header h1 a {
  color: #333;
}
.organization-header h1 a:hover {
  border-bottom: none;
}
@media (min-width: 680px) {
  .organization-header h1 a:hover {
    border-bottom-width: 2px;
  }
}
@media (min-width: 920px) {
  .organization-header h1 a:hover {
    border-bottom-width: 3px;
  }
}
.organization-header .logo-parts {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 999;
}
@media (min-width: max-width 679px) {
  .organization-header .logo-parts {
    display: none;
  }
}
.organization-header h1, .organization-header .taglines, .organization-header p {
  display: inline;
}
.organization-header .communities {
  display: inline;
}
.organization-header .communities li {
  display: inline;
}
