/**
 * @file
 * Default CSS rules for the phone element.
 */

/* Phone elements work best when inline. */
.form-type-phone .form-item,
.form-type-phone .form-item label {
  display: inline;
}
.form-type-phone .form-item label {
  margin-left: 1em;
  margin-right: .5em;
}

