/**
 * @file
 * Default CSS rules for the phone widget settings forms.
 */

/* Make the country selection checkboxes layout nicer. */
.phone-settings .form-item-instance-widget-settings-country-options-country-codes-country-selection .form-item {
  float: left;
  width: 33%;
}

/* Make the default country in the country selection list standout. */
.phone-settings .phone-default-country {
  background: #eee;
  font-weight: bold;
}

