# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
backup
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore sass compile stuff
sites/default/themes/mnartists/codekit-config.json
sites/default/themes/mnartists/.sass-cache
.sass-cache

sites/mnartists*
sites/sites.php

