/* LAYOUT A ************************************/
/* community and homepage template stuff */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\000036}}
.layout-a .panel-col-first {
  float: left;
  width: 75%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000310}}
.layout-a .panel-col-first .inside {
  margin: 0 .5em 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000313}}
.layout-a .panel-col-first .inside .article-thing {
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000316}}
.layout-a .panel-col-first .inside .search-results {
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000320}}
.layout-a .panel-col-first .inset-left {
  float: left;
  width: 75%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000324}}
.layout-a .panel-col-first .inset-right {
  float: left;
  width: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000330}}
.layout-a .panel-col-last {
  float: left;
  width: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000333}}
.layout-a .panel-col-last .inside {
  margin: 0 0 1em .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000337}}
.layout-a .panel-separator {
  margin: 0 0 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000342}}
* html .panel-2col.layout-a .panel-col-first {
  width: 74.9%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000345}}
* html .panel-2col.layout-a .panel-col-last {
  width: 24.9%;
}

/* insets */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000349}}
* html .panel-2col.layout-a .panel-col-first .panel-col-first.inset-left {
  width: 74.9%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000352}}
* html .panel-2col.layout-a .panel-col-first .panel-col-last.inset-right {
  width: 24.9%;
}
