/* now let's get those layout files */
/* LAYOUT A ************************************/
/* community and homepage template stuff */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\000036}}
.layout-a .panel-col-first {
  float: left;
  width: 75%;
  box-sizing: border-box;
  padding-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000312}}
.layout-a .panel-col-first .inside {
  margin: 0 .5em 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000315}}
.layout-a .panel-col-first .inside .article-thing {
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000318}}
.layout-a .panel-col-first .inside .search-results {
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000322}}
.layout-a .panel-col-first .inset-left {
  float: left;
  width: 75%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000326}}
.layout-a .panel-col-first .inset-right {
  float: left;
  width: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000332}}
.layout-a .panel-col-last {
  float: left;
  width: 25%;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000337}}
.layout-a .panel-col-last .inside {
  margin: 0 0 1em .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000341}}
.layout-a .panel-separator {
  margin: 0 0 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000346}}
* html .panel-2col.layout-a .panel-col-first {
  width: 74.9%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000349}}
* html .panel-2col.layout-a .panel-col-last {
  width: 24.9%;
}

/* insets */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000353}}
* html .panel-2col.layout-a .panel-col-first .panel-col-first.inset-left {
  width: 74.9%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-a\.scss}line{font-family:\0000356}}
* html .panel-2col.layout-a .panel-col-first .panel-col-last.inset-right {
  width: 24.9%;
}

/* LAYOUT G artwork **************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-g\.scss}line{font-family:\000035}}
.layout-g .title-artwork .block {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-g\.scss}line{font-family:\000038}}
.layout-g .title-artwork .block .block-inner .block-content {
  background: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-g\.scss}line{font-family:\0000310}}
.layout-g .title-artwork .block .block-inner .block-content h2 {
  padding: 0 0 5px 0;
  margin: 0;
  height: 15px;
  background: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-g\.scss}line{font-family:\0000319}}
.layout-g .panel-col.content-artwork {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-g\.scss}line{font-family:\0000327}}
.layout-g .panel-col.content-artwork .content-bottom .inset-left {
  font-family: "adobe-text-pro", "Times New Roman", Times, serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-g\.scss}line{font-family:\0000338}}
.layout-g .panel-col.content-artwork .pane-node-title h2 {
  background: none;
  padding: 15px 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #888888;
  font-size: 18px;
  height: auto;
  line-height: auto;
  text-transform: none;
  letter-spacing: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-g\.scss}line{font-family:\0000349}}
.layout-g .panel-col.content-artwork .pane-node-title h2 a {
  font-family: "adobe-text-pro", "Times New Roman", Times, serif;
  font-weight: normal;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-g\.scss}line{font-family:\0000355}}
.layout-g .panel-col.content-artwork .pane-node-links {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 10px;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-g\.scss}line{font-family:\0000364}}
.layout-g .panel-col.content-artwork .pane-node-author a {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 10px;
  padding-top: 5px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/layout-g\.scss}line{font-family:\0000373}}
.layout-g .panel-col.content-artwork .pane-mnartist-collections-mna-collections-star {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 9999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\000034}}
#menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  min-height: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\0000313}}
#menu .region-inner {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\0000316}}
#menu .block-mnartist-filter {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\0000319}}
#menu .search-container {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\0000326}}
#menu .search-container input {
  width: 100%;
  border-width: 0;
  padding: 0;
  line-height: 20px;
  margin: 0;
  background: #e5e5e5;
  text-indent: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\0000335}}
#menu .search-container input:focus {
  outline: none;
  background: #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\0000340}}
#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\0000345}}
#menu ul li {
  margin: 0;
  padding: 0;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\0000350}}
#menu ul li a {
  display: block;
  margin: 0 10px;
  padding: 8px 13px 8px 20px;
  line-height: 1em;
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
  background: url("../images/mna-circle-hollow.svg") no-repeat left center transparent;
  background-size: 12px auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\0000362}}
#menu ul li a.active-trail {
  /*background: url('../images/mna-circle-filled.svg') no-repeat left center transparent;*/
  background: url("../images/icon-check-solid.svg") no-repeat left center transparent;
  background-size: 9px auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\0000368}}
#menu ul li a.active-trail.active {
  background: url("../images/icon-check-hollow.svg") no-repeat left center transparent;
  background-size: 9px auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\0000372}}
#menu ul li a.active-trail.active.selected {
  background: url("../images/icon-check-solid.svg") no-repeat left center transparent;
  background-size: 9px auto;
  color: #111;
                /*@include sans_bold_font;
				font-weight:bold;*/
  font-weight: normal;
  font-family: "Apercu Bold", Arial, Helvetica, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\0000381}}
#menu ul li a.expand {
  line-height: 1em;
  margin: 0;
  padding: 8px 10px 0 8px;
  right: 0;
  top: 0;
  position: absolute;
  background: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\0000389}}
#menu ul li .item-list {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\0000392}}
#menu ul li .item-list ul {
  background: #eaeaea;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\0000394}}
#menu ul li .item-list ul li {
  padding: 0 0 0 30px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\0000398}}
#menu ul li .item-list ul li a {
  margin: 0;
  /*
  	padding:5px 5px 5px 0px;
  	background:none;
  */
  line-height: 1em;
  text-transform: none;
  border-bottom: none;
  padding: 8px 0 8px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003110}}
#menu ul li .item-list ul li a.active-trail.active.selected {
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003114}}
#menu ul li .item-list ul li.first {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003121}}
#menu ul li .item-list .menu-event-datepicker {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003127}}
#menu ul li .item-list .menu-event-datepicker table tr td a {
  padding: 0;
  font-size: 10px;
  background-image: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003132}}
#menu ul li .item-list .menu-event-datepicker table tr td a.ui-state-highlight {
  background: #fff;
  border: 1px solid #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003142}}
#menu ul li .item-list .menu-event-datepicker .ui-datepicker th {
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003151}}
#menu ul li.first {
  border-bottom: 1px solid #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003154}}
#menu ul .block {
  margin-bottom: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003159}}
#menu .menu-event-datepicker {
  max-width: 200px;
  margin: 0 0 0 -30px !important;
  box-sizing: border-box;
  padding: 0 10px;
  clear: both;
  float: none;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003169}}
#menu .menu-event-datepicker .ui-datepicker-prev,
#menu .menu-event-datepicker .ui-datepicker-next {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003173}}
#menu .menu-event-datepicker .ui-datepicker-inline {
  padding: 0 0 10px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003180}}
#block-artist-community-menu-search .block-inner {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003187}}
#menu #block-mnartist-filter-mna-filter-create {
  position: absolute;
  top: 10px;
  right: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003194}}
#menu #block-mnartist-filter-mna-filter-create ul.menu li {
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003196}}
#menu #block-mnartist-filter-mna-filter-create ul.menu li a {
  background: none;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003206}}
#menu #block-mnartist-filter-mna-filter-create ul.menu li ul li a {
  background: none;
  padding: 5px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003214}}
#menu #block-mnartist-filter-mna-filter-create hr {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003219}}
#menu ul.mega-tabs {
  width: 100%;
  position: relative;
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003224}}
#menu ul.mega-tabs li {
  width: 50%;
  display: table-cell;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003229}}
#menu ul.mega-tabs li a {
  display: block;
  line-height: 2.4em;
  font-weight: bold;
  padding: 0;
  text-align: center;
  background-image: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003239}}
#menu ul.mega-tabs li.user-tab {
  background: #333;
  border-bottom-left-radius: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003243}}
#menu ul.mega-tabs li.user-tab a {
  color: #e5e5e5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003250}}
body.admin-menu #menu {
  top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003253}}
#menu:before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background: #e5e5e5;
  position: fixed;
  min-height: 100%;
  content: "";
  z-index: -1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003265}}
p.site-description {
  position: relative;
  padding: 0;
  margin: 10px;
  font-size: 12px;
  color: #888;
  float: none;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003274}}
.menu-content {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003277}}
.menu-trigger {
  display: none;
  position: relative;
}

/* */
/* date picker on menu bar (this might not need to be defined) */
/* date picker on page ****************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003286}}
.menu-event-datepicker {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003289}}
#menu ul li .ui-datepicker-inline a {
  padding: 0;
  background-image: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003293}}
#menu ul li .menu-event-datepicker {
  margin: 0 -10px;
  background: #ebebeb;
}

/* */
/* favorite filter star */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003300}}
#create-filter {
  width: 17px;
  height: 16px;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url("../images/fav-star.svg") no-repeat left top transparent;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 999;
  opacity: .4;
}

/* my stuff menu bar */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003317}}
.my-stuff {
  background: #3f3f3f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003320}}
.my-stuff #menu {
  background: #323232;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003325}}
.my-stuff #menu ul.mega-tabs {
  background: #323232;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003328}}
.my-stuff #menu ul.mega-tabs li {
  background: #f2f2f2;
  border-bottom-right-radius: 5px;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003333}}
.my-stuff #menu ul.mega-tabs li a {
  color: #323232;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003339}}
.my-stuff #menu ul.mega-tabs li.user-tab {
  background: #323232;
  border-bottom-left-radius: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003343}}
.my-stuff #menu ul.mega-tabs li.user-tab a {
  color: #e5e5e5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003351}}
.my-stuff #menu ul li {
  border-bottom: 1px solid #4C4C4C;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003353}}
.my-stuff #menu ul li a {
  color: #e3e3e3;
  background: none;
  padding: 8px 13px 8px 8px;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003360}}
.my-stuff #menu ul li .item-list {
  background: #4d4d4d;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 10px;
  padding-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003369}}
.my-stuff #menu ul li .item-list ul {
  background: #4d4d4d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003372}}
.my-stuff #menu ul li .item-list ul li {
  padding: 0 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003376}}
.my-stuff #menu ul li .item-list ul li a {
  color: #ccc;
  padding: 5px 0;
  margin: 0 10px;
  border-bottom: 1px solid #404040;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003382}}
.my-stuff #menu ul li .item-list ul li a.active {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003386}}
.my-stuff #menu ul li .item-list ul li.last {
  margin-bottom: 0px!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003398}}
.my-stuff #menu ul li.first {
  border-bottom: 1px solid #4C4C4C;
  border-top: 1px solid #4C4C4C;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003405}}
.my-stuff #menu ul.my-stuff-menu li.last {
  margin-bottom: 20px !important;
  position: relative;
  border-bottom: 1px solid #4C4C4C !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003411}}
.my-stuff #menu ul.my-stuff-menu li.last a {
  /* border:1px solid #666;
  margin-bottom:5px; */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003419}}
.my-stuff #menu ul.my-stuff-menu li a.user-edit {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  margin: 0;
  background: url("../images/icon-pencil-white.svg") no-repeat left center transparent;
  padding: 0;
  height: auto;
  width: 18px;
  overflow: hidden;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003434}}
.my-stuff #menu ul.my-stuff-menu li a.user-edit.active {
  background: url("../images/icon-pencil-white.svg") no-repeat left center transparent;
  opacity: .6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003440}}
.my-stuff #menu ul.my-stuff-menu li a.user-edit:hover {
  opacity: .6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003443}}
.my-stuff #menu ul.my-stuff-menu li a.active {
  background: rgba(255, 255, 255, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003446}}
.my-stuff #menu ul.my-stuff-menu li li.last {
  padding-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003448}}
.my-stuff #menu ul.my-stuff-menu li li.last a {
  border: none;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003456}}
.my-stuff #menu ul.my-stuff-edit-menu li {
  border: none;
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003460}}
.my-stuff #menu ul.my-stuff-edit-menu li a {
  border: 1px solid #666;
  margin: 0 5px 5px 5px;
  padding-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003468}}
.my-stuff #menu:before {
  background: #323232;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background: #323232;
  position: fixed;
  min-height: 100%;
  content: "";
  z-index: -1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003483}}
.my-stuff .panel-pane .block-inner .block-content {
  background: #323232;
  color: #8f8f8f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003492}}
.nearme-filter {
  margin-bottom: 10px;
  box-sizing: border-box;
  padding-right: 10px;
  width: 100%;
  clear: both;
  overflow: hidden;
  display: block;
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003502}}
.nearme-filter label {
  display: block;
  width: 40%;
  float: left;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
  font-family: 'Apercu Regular';
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  font-size: 12px;
  color: #222;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/menu\.scss}line{font-family:\00003516}}
.nearme-filter input[type="search"] {
  display: block;
  width: 60%;
  float: left;
  box-sizing: border-box;
  position: relative;
  background: url("../images/icon-magnify.svg") no-repeat 95% center white;
  background-size: 9px auto;
  padding-right: 17px;
}
