/* now let's get those layout files */
/* LAYOUT A ************************************/
/* community and homepage template stuff */
/* line 6, ../sass/layout-a.scss */
.layout-a .panel-col-first {
  float: left;
  width: 75%;
  box-sizing: border-box;
  padding-right: 20px;
}
/* line 12, ../sass/layout-a.scss */
.layout-a .panel-col-first .inside {
  margin: 0 .5em 1em 0;
}
/* line 15, ../sass/layout-a.scss */
.layout-a .panel-col-first .inside .article-thing {
  margin-right: 20px;
}
/* line 18, ../sass/layout-a.scss */
.layout-a .panel-col-first .inside .search-results {
  margin-right: 20px;
}
/* line 22, ../sass/layout-a.scss */
.layout-a .panel-col-first .inset-left {
  float: left;
  width: 75%;
}
/* line 26, ../sass/layout-a.scss */
.layout-a .panel-col-first .inset-right {
  float: left;
  width: 25%;
}
/* line 32, ../sass/layout-a.scss */
.layout-a .panel-col-last {
  float: left;
  width: 25%;
  box-sizing: border-box;
}
/* line 37, ../sass/layout-a.scss */
.layout-a .panel-col-last .inside {
  margin: 0 0 1em .5em;
}
/* line 41, ../sass/layout-a.scss */
.layout-a .panel-separator {
  margin: 0 0 1em 0;
}

/* line 46, ../sass/layout-a.scss */
* html .panel-2col.layout-a .panel-col-first {
  width: 74.9%;
}

/* line 49, ../sass/layout-a.scss */
* html .panel-2col.layout-a .panel-col-last {
  width: 24.9%;
}

/* insets */
/* line 53, ../sass/layout-a.scss */
* html .panel-2col.layout-a .panel-col-first .panel-col-first.inset-left {
  width: 74.9%;
}

/* line 56, ../sass/layout-a.scss */
* html .panel-2col.layout-a .panel-col-first .panel-col-last.inset-right {
  width: 24.9%;
}

/* LAYOUT G artwork **************************/
/* line 5, ../sass/layout-g.scss */
.layout-g .title-artwork .block {
  margin: 0;
}
/* line 8, ../sass/layout-g.scss */
.layout-g .title-artwork .block .block-inner .block-content {
  background: none;
}
/* line 10, ../sass/layout-g.scss */
.layout-g .title-artwork .block .block-inner .block-content h2 {
  padding: 0 0 5px 0;
  margin: 0;
  height: 15px;
  background: none;
}
/* line 19, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork {
  position: relative;
}
/* line 27, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .content-bottom .inset-left {
  font-family: "adobe-text-pro", "Times New Roman", Times, serif;
}
/* line 38, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .pane-node-title h2 {
  background: none;
  padding: 15px 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #888888;
  font-size: 18px;
  height: auto;
  line-height: auto;
  text-transform: none;
  letter-spacing: normal;
}
/* line 49, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .pane-node-title h2 a {
  font-family: "adobe-text-pro", "Times New Roman", Times, serif;
  font-weight: normal;
  height: auto;
}
/* line 55, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .pane-node-links {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 10px;
  text-align: right;
}
/* line 64, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .pane-node-author a {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 10px;
  padding-top: 5px;
  display: block;
}
/* line 73, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .pane-mnartist-collections-mna-collections-star {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 9999;
}

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
/* line 16, ../sass/responsive.smartphone.landscape.scss */
html {
  font-size: 112.5%;
}

/* line 20, ../sass/responsive.smartphone.landscape.scss */
.sidebar-right, .main-content {
  margin-left: 0;
  margin-right: 0;
  display: block;
  clear: both;
  margin-bottom: 20px;
  float: none!important;
  width: auto!important;
}

/* line 29, ../sass/responsive.smartphone.landscape.scss */
.menu-trigger {
  display: block;
}

/* line 35, ../sass/responsive.smartphone.landscape.scss */
#menu:before,
#menu,
#admin-menu,
.menu-content {
  display: none;
}

/* line 38, ../sass/responsive.smartphone.landscape.scss */
body {
  padding-left: 0px;
}

/* line 43, ../sass/responsive.smartphone.landscape.scss */
.content-bottom {
  display: block;
  margin-bottom: 0;
}
/* line 47, ../sass/responsive.smartphone.landscape.scss */
.content-bottom .one-third {
  display: block;
  width: auto!important;
  float: none!important;
  clear: both;
}
/* line 51, ../sass/responsive.smartphone.landscape.scss */
.content-bottom .one-third.panel-col-last {
  border-left: none;
}

/* line 56, ../sass/responsive.smartphone.landscape.scss */
form input.text-full {
  max-width: 300px;
}

/* line 60, ../sass/responsive.smartphone.landscape.scss */
.panel-1col .panel-col .one-third {
  display: block;
  width: auto!important;
  float: none!important;
  clear: both;
}

/* line 65, ../sass/responsive.smartphone.landscape.scss */
.panel-2col .panel-col-first, .panel-2col .panel-col-first {
  display: block;
  width: auto!important;
  float: none!important;
  clear: both;
}

/* line 71, ../sass/responsive.smartphone.landscape.scss */
.panel-2col .panel-col-last,
.panel-2col .panel-col-first {
  display: block;
  width: auto!important;
  float: none!important;
  clear: both;
}

/* line 76, ../sass/responsive.smartphone.landscape.scss */
.fieldset-wrapper .date-no-float {
  display: block;
  width: auto;
  clear: both;
}

/* line 82, ../sass/responsive.smartphone.landscape.scss */
body.my-stuff {
  background: #3f3f3f;
}
