/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000316}}
html {
  font-size: 81.3%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000320}}
.sidebar-right, .main-content {
  margin-left: 0;
  margin-right: 0;
  display: block;
  clear: both;
  margin-bottom: 20px;
  float: none!important;
  width: auto!important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000329}}
.content-bottom {
  display: block;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000333}}
.content-bottom .one-third {
  display: block;
  width: auto;
  float: none!important;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000340}}
.content-bottom .one-third.panel-col-last {
  border-left: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000344}}
form input.text-full {
  max-width: 300px;
}
