/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the default font size on small devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000316}}
html {
  font-size: 112.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000320}}
.sidebar-right, .main-content {
  margin-left: 0;
  margin-right: 0;
  display: block;
  clear: both;
  margin-bottom: 20px;
  float: none!important;
  width: auto!important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000330}}
.menu-trigger {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000336}}
#menu:before,
#menu,
#admin-menu,
.menu-content {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000339}}
body {
  padding-left: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000344}}
.content-bottom {
  display: block;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000348}}
.content-bottom .one-third {
  display: block;
  width: auto!important;
  float: none!important;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000352}}
.content-bottom .one-third.panel-col-last {
  border-left: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000357}}
form input.text-full {
  max-width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000361}}
.panel-1col .panel-col .one-third {
  display: block;
  width: auto!important;
  float: none!important;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000366}}
.panel-2col .panel-col-first, .panel-2col .panel-col-first {
  display: block;
  width: auto!important;
  float: none!important;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000373}}
.fieldset-wrapper .date-no-float {
  display: block;
  width: auto;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000380}}
body.my-stuff {
  background: #3f3f3f;
}
