/* now let's get those layout files */
/* LAYOUT A ************************************/
/* community and homepage template stuff */
/* line 6, ../sass/layout-a.scss */
.layout-a .panel-col-first {
  float: left;
  width: 75%;
  box-sizing: border-box;
  padding-right: 20px;
}
@media screen and (max-width: 480px) {
  /* line 6, ../sass/layout-a.scss */
  .layout-a .panel-col-first {
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 6, ../sass/layout-a.scss */
  .layout-a .panel-col-first {
    padding-right: 0;
  }
}
@media screen and (max-width: 960px) {
  /* line 6, ../sass/layout-a.scss */
  .layout-a .panel-col-first {
    padding-right: 0;
  }
}
/* line 22, ../sass/layout-a.scss */
.layout-a .panel-col-first .inside {
  margin: 0 .5em 1em 0;
}
/* line 25, ../sass/layout-a.scss */
.layout-a .panel-col-first .inside .article-thing {
  margin-right: 20px;
}
/* line 28, ../sass/layout-a.scss */
.layout-a .panel-col-first .inside .search-results {
  margin-right: 20px;
}
/* line 32, ../sass/layout-a.scss */
.layout-a .panel-col-first .inset-left {
  float: left;
  width: 75%;
}
/* line 36, ../sass/layout-a.scss */
.layout-a .panel-col-first .inset-right {
  float: left;
  width: 25%;
}
/* line 42, ../sass/layout-a.scss */
.layout-a .panel-col-last {
  float: left;
  width: 25%;
  box-sizing: border-box;
}
/* line 47, ../sass/layout-a.scss */
.layout-a .panel-col-last .inside {
  margin: 0 0 1em .5em;
}
/* line 51, ../sass/layout-a.scss */
.layout-a .panel-separator {
  margin: 0 0 1em 0;
}

/* line 56, ../sass/layout-a.scss */
* html .panel-2col.layout-a .panel-col-first {
  width: 74.9%;
}

/* line 59, ../sass/layout-a.scss */
* html .panel-2col.layout-a .panel-col-last {
  width: 24.9%;
}

/* insets */
/* line 63, ../sass/layout-a.scss */
* html .panel-2col.layout-a .panel-col-first .panel-col-first.inset-left {
  width: 74.9%;
}

/* line 66, ../sass/layout-a.scss */
* html .panel-2col.layout-a .panel-col-first .panel-col-last.inset-right {
  width: 24.9%;
}

/* LAYOUT G artwork **************************/
/* line 5, ../sass/layout-g.scss */
.layout-g .title-artwork .block {
  margin: 0;
}
/* line 8, ../sass/layout-g.scss */
.layout-g .title-artwork .block .block-inner .block-content {
  background: none;
}
/* line 19, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork {
  position: relative;
}
/* line 27, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .content-bottom .inset-left {
  /*font-family: $serif_font;*/
}
/* line 39, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .pane-node-title h2 {
  background: none;
  padding: 15px 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #888888;
  font-size: 18px;
  height: auto;
  line-height: auto;
  text-transform: none;
  letter-spacing: normal;
}
/* line 50, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .pane-node-title h2 a {
  font-family: "adobe-text-pro", "Times New Roman", Times, serif;
  font-weight: normal;
  height: auto;
}
/* line 56, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .pane-node-links {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 10px;
  text-align: right;
}
/* line 65, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .pane-node-author a {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 10px;
  padding-top: 5px;
  display: block;
}
/* line 74, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .pane-mnartist-collections-mna-collections-star {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 9999;
}

/* line 4, ../sass/layout-b.scss */
.layout-b .main-content .inside {
  position: relative;
  padding: 20px;
  background: #fff;
  margin-right: 0px;
}
/* line 10, ../sass/layout-b.scss */
.layout-b .main-content .inside .block-inner {
  margin-right: 0px;
  margin-left: 0px;
}

/* line 23, ../sass/layout-b.scss */
.panel-2col {
  /*  overflow: hidden;  */
}

/* line 27, ../sass/layout-b.scss */
.panel-2col .panel-col-first {
  float: left;
  width: 75%;
}

/* line 31, ../sass/layout-b.scss */
* html .panel-2col .panel-col-first {
  width: 74.9%;
}

/* line 35, ../sass/layout-b.scss */
.panel-2col .panel-col-first .inside {
  margin: 0 .5em 1em 0;
}

/* line 39, ../sass/layout-b.scss */
.panel-2col .panel-col-last {
  float: left;
  width: 25%;
}

/* line 43, ../sass/layout-b.scss */
* html .panel-2col .panel-col-last {
  width: 24.9%;
}

/* line 47, ../sass/layout-b.scss */
.panel-2col .panel-col-last .inside {
  margin: 0 0 1em .5em;
}

/* line 52, ../sass/layout-b.scss */
#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

/* line 56, ../sass/layout-b.scss */
.panel-2col .panel-separator {
  margin: 0 0 1em 0;
}

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
/* line 16, ../sass/responsive.tablet.portrait.scss */
html {
  font-size: 81.3%;
}

/* line 20, ../sass/responsive.tablet.portrait.scss */
.sidebar-right, .main-content {
  margin-left: 0;
  margin-right: 0;
  display: block;
  clear: both;
  margin-bottom: 20px;
  float: none!important;
  width: auto!important;
}

/* line 29, ../sass/responsive.tablet.portrait.scss */
.content-bottom {
  display: block;
  margin-bottom: 0;
}
/* line 33, ../sass/responsive.tablet.portrait.scss */
.content-bottom .one-third {
  display: block;
  width: auto!important;
  float: none!important;
  clear: both;
}
/* line 37, ../sass/responsive.tablet.portrait.scss */
.content-bottom .one-third.panel-col-last {
  border-left: none;
}

/* line 41, ../sass/responsive.tablet.portrait.scss */
form input.text-full {
  max-width: 220px;
}

/* line 45, ../sass/responsive.tablet.portrait.scss */
.panel-1col .panel-col .one-third {
  display: block;
  width: auto!important;
  float: none!important;
  clear: both;
}

/* line 51, ../sass/responsive.tablet.portrait.scss */
.panel-2col .panel-col-first, .panel-2col .panel-col-first {
  display: block;
  width: auto!important;
  float: none!important;
  clear: both;
}

/* line 58, ../sass/responsive.tablet.portrait.scss */
.panel-2col .panel-col-last,
.panel-2col .panel-col-first,
.panel-2col .panel-col-last .panel-col-first.inset-left,
.panel-2col .panel-col-last .panel-col-last.inset-right {
  display: block;
  width: auto!important;
  float: none!important;
  clear: both;
}

/* line 63, ../sass/responsive.tablet.portrait.scss */
.fieldset-wrapper .date-no-float {
  display: block;
  width: auto;
  clear: both;
}
