/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000316}}
html {
  font-size: 112.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000320}}
.sidebar-right, .main-content {
  margin-left: 0;
  margin-right: 0;
  display: block;
  clear: both;
  margin-bottom: 20px;
  float: none!important;
  width: auto!important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000329}}
.menu-trigger {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000335}}
#menu:before,
#menu,
#admin-menu,
.menu-content {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000338}}
body {
  padding-left: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000343}}
.content-bottom {
  display: block;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000347}}
.content-bottom .one-third {
  display: block;
  width: auto!important;
  float: none!important;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000351}}
.content-bottom .one-third.panel-col-last {
  border-left: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000356}}
form input.text-full {
  max-width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000360}}
.panel-1col .panel-col .one-third {
  display: block;
  width: auto!important;
  float: none!important;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000365}}
.panel-2col .panel-col-first, .panel-2col .panel-col-first {
  display: block;
  width: auto!important;
  float: none!important;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000371}}
.panel-2col .panel-col-last,
.panel-2col .panel-col-first {
  display: block;
  width: auto!important;
  float: none!important;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000376}}
.fieldset-wrapper .date-no-float {
  display: block;
  width: auto;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000382}}
body.my-stuff {
  background: #3f3f3f;
}
