@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/resume-download\.scss}line{font-family:\000035}}
html {
  background: #f9f9f9;
  color: #222222;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/resume-download\.scss}line{font-family:\0000310}}
html body {
  font-family: "Apercu Regular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 10px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/resume-download\.scss}line{font-family:\0000318}}
html body .container {
  background: #fff;
  margin: 1em auto;
  padding: 40px;
  text-align: left;
  display: block;
  max-width: 940px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/resume-download\.scss}line{font-family:\0000326}}
html body .container section {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/resume-download\.scss}line{font-family:\0000331}}
html body .container section:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/resume-download\.scss}line{font-family:\0000340}}
html body .container section div p label {
  display: block;
  font-weight: bold;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/resume-download\.scss}line{font-family:\0000349}}
html body .container section h2 {
  font-size: 20px;
}
