@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/resume-download\.scss}line{font-family:\000035}}
html {
  background: #f9f9f9;
  color: #222222;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/resume-download\.scss}line{font-family:\000039}}
html body {
  font-family: "Apercu Regular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-rendering: optimizeLegibility;
}
