table.table {
  clear: both;
  margin-bottom: 25px !important;
}

.op-table,
.op-table>thead,
.op-table>body,
.op-table>thead>tr,
.op-table>thead>tr>th,
.op-table>tbody>tr>td {
        border-collapse:collapse;
        background-color: transparent;
        border-bottom: none;
        border: none;
        border-style: none;
        border-color: #a3a3a3;
}

.op-table>thead {
        color: #888;
        font-size: 14px;
        font-weight: normal;
}

.op-table>thead>tr>th,
.op-table>tbody>tr>td {
        border: 1px solid #a3a3a3;
        border-bottom: none;
}

.op-table>thead>tr>th:last-child,
.op-table>tbody>tr>td:last-child {
        border-right: none;
}

.op-table>thead>tr>th:first-child,
.op-table>tbody>tr>td:first-child {
        border-left: none;
}

tr.even,
tr.odd {
  border-bottom: none;
}

#listContent {
  background: #f2f2f2;
  padding: 50px 40px;
  margin: 20px 0;
}

.filterWidth {
  width: 56.517%;
  margin-left: auto!important;
  margin-right: auto!important;
  display: block;
}

a.icon {
  border-radius:50%;
  overflow:hidden;
  height:21px;
  width:21px;
  text-indent:50px;
  white-space:nowrap;
  padding:0;
  border:1px solid #666;
  outline:none;
  display:inline-block;
  margin:0 auto;
}

a.edit-icon {
  background: url('../images/icon-form-edit.png') no-repeat center center transparent;
}
a.remove-icon {
  background: url('../images/icon-form-remove.png') no-repeat center center transparent;
}
a.icon:hover {
  border:1px solid #999;
}

@media screen and (max-width: 768px) {
  #listContent,
  #myContent {
    background: #f2f2f2;
    padding: 30px 10px;
    margin: 5px 0;
  }
}
