/* user profile page */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\000039}}
.user-picture a {
  display: block;
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: 50%;
  background: #f2f2f2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\0000327}}
.pane-user-mnartist-profiles-collections .block-inner .block-content {
  background: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\0000331}}
.pane-user-mnartist-profiles-collections .block-inner .block-content h3 {
  font-family: "Apercu Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0 0 5px 0;
  margin: 0;
  line-height: 12px;
  height: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\0000338}}
.pane-user-mnartist-profiles-collections .block-inner .block-content dl {
  background: #fff;
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\0000346}}
.pane-mnartist-profiles-mna-user-profile h1 {
  margin: 0 10px 20px 10px;
  border-bottom: 1px solid #888888;
  font-size: 30px;
  padding: 20px 0 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\0000352}}
.pane-mnartist-profiles-mna-user-profile .user-profile {
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\0000355}}
.pane-mnartist-profiles-mna-user-profile .user-profile .user-profile-data {
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\0000358}}
.pane-mnartist-profiles-mna-user-profile .user-profile .user-profile-data .left {
  display: table-cell;
  width: 50%;
  vertical-align: top;
  padding-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\0000364}}
.pane-mnartist-profiles-mna-user-profile .user-profile .user-profile-data .left .profile-image-wrapper {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\0000369}}
.pane-mnartist-profiles-mna-user-profile .user-profile .user-profile-data .left .profile-image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\0000379}}
.pane-mnartist-profiles-mna-user-profile .user-profile .user-profile-data .right {
  display: table-cell;
  width: 50%;
  vertical-align: top;
  padding-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\0000388}}
.pane-mnartist-profiles-mna-user-profile .user-profile .profile-title {
  font-family: "Apercu Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\0000394}}
h5.profile-title {
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #888888;
  margin: 0 0 10px 0;
  font-family: "adobe-text-pro", "Times New Roman", Times, serif;
  font-weight: normal;
}

/* activity widget */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003108}}
.pane-mnartist-activity-activity .item-list {
  font-family: "adobe-text-pro", "Times New Roman", Times, serif;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003111}}
.pane-mnartist-activity-activity .item-list ul {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003115}}
.pane-mnartist-activity-activity .item-list ul li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003124}}
.pane-mnartist-activity-activity .username {
  font-weight: bold;
}

/* */
/* art widget on artist page */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003132}}
.pane-user-mnartist-profiles-artworks {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  max-height: 9999px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003141}}
.pane-user-mnartist-profiles-artworks .block-inner .block-content {
  background: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003144}}
.pane-user-mnartist-profiles-artworks .block-inner .block-content dt {
  font-family: "Apercu Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0 0 5px 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003149}}
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd {
  padding: 10px;
  background: #fff;
  margin: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  max-height: 9999px;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003160}}
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .thumbs {
  overflow-x: scroll;
  white-space: nowrap;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #999;
  clear: both;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003169}}
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .thumbs img {
  margin-right: 20px;
  height: 120px;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003176}}
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  max-height: 999px;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003184}}
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display .slide {
  width: 100%;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  max-height: 999px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003192}}
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display .slide .content {
  clear: both;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003196}}
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display .slide .left {
  float: left;
  width: 45%;
  vertical-align: top;
  font-family: "adobe-text-pro", "Times New Roman", Times, serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003202}}
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display .slide .left a {
  font-size: 18px;
  display: block;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003209}}
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display .slide .right {
  float: right;
  width: 45%;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003214}}
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display .slide .right:after {
  content: "";
  display: block;
  float: none;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003221}}
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display .slide:after {
  content: "";
  clear: both;
  float: none;
  display: block;
}

/* end artwork widgeet */
/* artist bio stuff (in the tabs( */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgipson\/Documents\/Repositories\/mnartists\/sites\/default\/themes\/mnartists\/sass\/user-profile\.scss}line{font-family:\00003237}}
.profile-label {
  display: block;
  font-family: "Apercu Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* */
