/* now let's get those layout files */
/* LAYOUT A ************************************/
/* community and homepage template stuff */
/* line 6, ../sass/layout-a.scss */
.layout-a .panel-col-first {
  float: left;
  width: 75%;
  box-sizing: border-box;
  padding-right: 20px;
}
/* line 12, ../sass/layout-a.scss */
.layout-a .panel-col-first .inside {
  margin: 0 .5em 1em 0;
}
/* line 15, ../sass/layout-a.scss */
.layout-a .panel-col-first .inside .article-thing {
  margin-right: 20px;
}
/* line 18, ../sass/layout-a.scss */
.layout-a .panel-col-first .inside .search-results {
  margin-right: 20px;
}
/* line 22, ../sass/layout-a.scss */
.layout-a .panel-col-first .inset-left {
  float: left;
  width: 75%;
}
/* line 26, ../sass/layout-a.scss */
.layout-a .panel-col-first .inset-right {
  float: left;
  width: 25%;
}
/* line 32, ../sass/layout-a.scss */
.layout-a .panel-col-last {
  float: left;
  width: 25%;
  box-sizing: border-box;
}
/* line 37, ../sass/layout-a.scss */
.layout-a .panel-col-last .inside {
  margin: 0 0 1em .5em;
}
/* line 41, ../sass/layout-a.scss */
.layout-a .panel-separator {
  margin: 0 0 1em 0;
}

/* line 46, ../sass/layout-a.scss */
* html .panel-2col.layout-a .panel-col-first {
  width: 74.9%;
}

/* line 49, ../sass/layout-a.scss */
* html .panel-2col.layout-a .panel-col-last {
  width: 24.9%;
}

/* insets */
/* line 53, ../sass/layout-a.scss */
* html .panel-2col.layout-a .panel-col-first .panel-col-first.inset-left {
  width: 74.9%;
}

/* line 56, ../sass/layout-a.scss */
* html .panel-2col.layout-a .panel-col-first .panel-col-last.inset-right {
  width: 24.9%;
}

/* LAYOUT G artwork **************************/
/* line 5, ../sass/layout-g.scss */
.layout-g .title-artwork .block {
  margin: 0;
}
/* line 8, ../sass/layout-g.scss */
.layout-g .title-artwork .block .block-inner .block-content {
  background: none;
}
/* line 10, ../sass/layout-g.scss */
.layout-g .title-artwork .block .block-inner .block-content h2 {
  padding: 0 0 5px 0;
  margin: 0;
  height: 15px;
  background: none;
}
/* line 19, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork {
  position: relative;
}
/* line 27, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .content-bottom .inset-left {
  font-family: "adobe-text-pro", "Times New Roman", Times, serif;
}
/* line 38, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .pane-node-title h2 {
  background: none;
  padding: 15px 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #888888;
  font-size: 18px;
  height: auto;
  line-height: auto;
  text-transform: none;
  letter-spacing: normal;
}
/* line 49, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .pane-node-title h2 a {
  font-family: "adobe-text-pro", "Times New Roman", Times, serif;
  font-weight: normal;
  height: auto;
}
/* line 55, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .pane-node-links {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 10px;
  text-align: right;
}
/* line 64, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .pane-node-author a {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 10px;
  padding-top: 5px;
  display: block;
}
/* line 73, ../sass/layout-g.scss */
.layout-g .panel-col.content-artwork .pane-mnartist-collections-mna-collections-star {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 9999;
}

/* user profile page */
/* line 8, ../sass/user-profile.scss */
.user-picture a {
  display: block;
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: 50%;
  background: #f2f2f2;
}

/* line 22, ../sass/user-profile.scss */
.form-wrapper .user-picture a {
  overflow: visible;
  border-radius: 0;
}

/* line 31, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-collections .block-inner .block-content {
  background: none;
}
/* line 35, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-collections .block-inner .block-content h3 {
  font-family: "Apercu Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0 0 5px 0;
  margin: 0;
  line-height: 12px;
  height: 15px;
}
/* line 42, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-collections .block-inner .block-content dl {
  background: #fff;
  padding: 0;
  margin: 0;
}

/* line 52, ../sass/user-profile.scss */
.pane-user-flag-usercollections-link .panel-pane .block-inner {
  background: none;
}

/* line 59, ../sass/user-profile.scss */
.pane-mnartist-profiles-mna-user-profile .block-content {
  position: relative;
}
/* line 61, ../sass/user-profile.scss */
.pane-mnartist-profiles-mna-user-profile .block-content .flag-wrapper {
  position: absolute;
  top: 10px;
  right: 5px;
}
/* line 66, ../sass/user-profile.scss */
.pane-mnartist-profiles-mna-user-profile .block-content .flag-wrapper .flag-count {
  display: none;
}
/* line 71, ../sass/user-profile.scss */
.pane-mnartist-profiles-mna-user-profile h1 {
  margin: 0 10px 20px 10px;
  border-bottom: 1px solid #888888;
  font-size: 30px;
  padding: 20px 0 10px 0;
}
/* line 77, ../sass/user-profile.scss */
.pane-mnartist-profiles-mna-user-profile .user-profile {
  padding: 10px;
}
/* line 80, ../sass/user-profile.scss */
.pane-mnartist-profiles-mna-user-profile .user-profile .user-profile-data {
  display: table;
}
/* line 83, ../sass/user-profile.scss */
.pane-mnartist-profiles-mna-user-profile .user-profile .user-profile-data .left {
  display: table-cell;
  width: 50%;
  vertical-align: top;
  padding-right: 20px;
}
/* line 89, ../sass/user-profile.scss */
.pane-mnartist-profiles-mna-user-profile .user-profile .user-profile-data .left .profile-image-wrapper {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 94, ../sass/user-profile.scss */
.pane-mnartist-profiles-mna-user-profile .user-profile .user-profile-data .left .profile-image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 104, ../sass/user-profile.scss */
.pane-mnartist-profiles-mna-user-profile .user-profile .user-profile-data .right {
  display: table-cell;
  width: 50%;
  vertical-align: top;
  padding-left: 20px;
}
/* line 113, ../sass/user-profile.scss */
.pane-mnartist-profiles-mna-user-profile .user-profile .profile-title {
  font-family: "Apercu Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #888888;
}

/* line 120, ../sass/user-profile.scss */
h5.profile-title {
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #888888;
  margin: 0 0 10px 0;
  font-family: "adobe-text-pro", "Times New Roman", Times, serif;
  font-weight: normal;
}

/* activity widget */
/* line 134, ../sass/user-profile.scss */
.pane-mnartist-activity-activity .item-list {
  font-family: "adobe-text-pro", "Times New Roman", Times, serif;
  padding: 10px;
}
/* line 137, ../sass/user-profile.scss */
.pane-mnartist-activity-activity .item-list ul {
  margin: 0;
  padding: 0;
}
/* line 141, ../sass/user-profile.scss */
.pane-mnartist-activity-activity .item-list ul li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
}
/* line 148, ../sass/user-profile.scss */
.pane-mnartist-activity-activity .item-list ul li .feed-update-node-text {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}
/* line 156, ../sass/user-profile.scss */
.pane-mnartist-activity-activity .item-list ul li .left a {
  display: none;
}
/* line 161, ../sass/user-profile.scss */
.pane-mnartist-activity-activity .item-list ul li .feed-update-description a {
  font-weight: bold;
}
/* line 168, ../sass/user-profile.scss */
.pane-mnartist-activity-activity .username {
  font-weight: bold;
}

/* */
/* art widget on artist page */
/* line 176, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-artworks {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  max-height: 9999px;
}
/* line 185, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-artworks .block-inner .block-content {
  background: none;
}
/* line 188, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-artworks .block-inner .block-content dt {
  font-family: "Apercu Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0 0 5px 0;
  margin: 0;
}
/* line 193, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd {
  padding: 10px;
  background: #fff;
  margin: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  max-height: 9999px;
  height: auto;
}
/* line 204, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .thumbs {
  overflow-x: scroll;
  white-space: nowrap;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #999;
  clear: both;
  float: none;
}
/* line 213, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .thumbs img {
  margin-right: 20px;
  height: 120px;
  width: auto;
}
/* line 220, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  max-height: 999px;
  height: auto;
}
/* line 228, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display .slide {
  width: 100%;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  max-height: 999px;
}
/* line 236, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display .slide .content {
  clear: both;
  margin-bottom: 20px;
}
/* line 240, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display .slide .content img {
  width: 100%;
  height: auto;
}
/* line 245, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display .slide .left {
  float: left;
  width: 45%;
  vertical-align: top;
  font-family: "adobe-text-pro", "Times New Roman", Times, serif;
}
/* line 251, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display .slide .left a {
  font-size: 18px;
  display: block;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}
/* line 259, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display .slide .left .menu a {
  font-size: 12px;
  display: inline-block;
  margin: 0;
  border-bottom: none;
}
/* line 268, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display .slide .right {
  float: right;
  width: 45%;
  vertical-align: top;
}
/* line 273, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display .slide .right:after {
  content: "";
  display: block;
  float: none;
  clear: both;
}
/* line 280, ../sass/user-profile.scss */
.pane-user-mnartist-profiles-artworks .block-inner .block-content dd .large-display .slide:after {
  content: "";
  clear: both;
  float: none;
  display: block;
}

/* end artwork widgeet */
/* artist bio stuff (in the tabs( */
/* line 296, ../sass/user-profile.scss */
.profile-label {
  display: block;
  font-family: "Apercu Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 301, ../sass/user-profile.scss */
.profile-city-state {
  font-family: "Apercu Regular", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* */
