//
// 'base' partial
//
// To make it easier to use all variables and mixins in any SCSS file in this
// theme, each .scss file has a @import 'base' declaration. And this base.scss
// file is in charge of importing all the other partials needed for the theme.
//

$main_color: #222;
$main_bg: #f9f9f9;
$secondary_color: #d4d4d4;
$secondary_bg: #d4d4d4 url(http://www.walkerart.org/static/img/bg_gray.jpg);
$inverse_color: #f9f9f9;
$inverse_bg: #222;
$divider_color: #a3a3a3;
$divider_color_dark: #9d9d9d;
$divider_bg: url(http://www.walkerart.org/static/img/line_dotted.png);
$menu_bg: #e5e5e5;
$darkgray_bg: #333;

$highlight: #f9f5bf;
$secondary_highlight: #e4e0af;

$design_color: #e93abe;
$design_color_dark: $design_color;
$design_bg: desaturate(lighten($design_color, 32%), 60%);

$education_color: #e30000;
$education_color_dark: $education_color;
$education_bg: desaturate(lighten($education_color, 42%), 60%);

$film_color: #d7d700;
$film_color_dark: saturate(darken($film_color, 10%), 50%);
$film_bg: desaturate(lighten($film_color, 45%), 50%);

$new_media_color: #00e300;
$new_media_color_dark: saturate(darken($new_media_color, 4%), 50%);;
$new_media_bg: desaturate(lighten($new_media_color, 45%), 70%);

$performing_arts_color: #00d7d7;
$performing_arts_color_dark: saturate(darken($performing_arts_color, 8%), 50%);
$performing_arts_bg: desaturate(lighten($performing_arts_color, 45%), 50%);

$visual_arts_color: #0000f4;
$visual_arts_color_dark: $visual_arts_color;
$visual_arts_bg: desaturate(lighten($visual_arts_color, 42%), 60%);

$sans_regular_font: 'Apercu Regular', Arial, Helvetica, sans-serif;
$sans_bold_font: 'Apercu Bold', Arial, Helvetica, sans-serif;
$sans_italic_font: 'Apercu Italic', Arial, Helvetica, sans-serif;
$sans_bold_italic_font: 'Apercu Bold Italic', Arial, Helvetica, sans-serif;
$serif_font: 'adobe-text-pro', 'Times New Roman', Times, serif;


//
// Legacy IE support
//
// These variables are used by many mixins to add additional CSS to support
// specific versions of IE or specific vendor prefixes.
//
// To turn off support for IE6 or IE7, set those variables to false.
//
// AdaptiveTheme does not require special handling for IE8 or later. But Compass
// defines more Legacy IE variables that you might find useful for your theme.
// See the documentation at http://compass-style.org/reference/compass/support/
//

$legacy-support-for-ie6: true;
$legacy-support-for-ie7: true;


//
// Partials to be shared with all .scss files.
//

@import 'compass/support';                     // Add Compass' IE and vendor prefix support variables.
@import 'compass/utilities/general/clearfix';  // Better than Drupal's clearfix.
@import 'compass/utilities/sprites';           // See http://compass-style.org/help/tutorials/spriting/
@import 'compass/css3';                        // Use one CSS3 mixin instead of multiple vendor prefixes.


//
// Import custom partial - mixins and variables defined for your theme
//
@import 'custom';


//
// Mixins //
//
@mixin quiet_type {
    font-family: $sans_regular_font;
    font-weight: normal;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin feature_type {
    font-family: $serif_font;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    text-align: center;
    -webkit-font-smoothing: subpixel-antialiased;
}

@mixin no_break {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin rounded {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

@mixin not_rounded {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

@mixin program_coloring($color, $bg) {
    background: $bg;
    color: $color;

    * {
        color: $color;
    }
    
    .alternate,
    .date_connector {
        border-color: $color !important;
    }
}

@mixin program($color) {
    border-color: $color !important;
    color: $color !important;
}

@mixin program_tiles($color, $bg) {
    background: $bg !important;
    color: $color !important;
    border-color: $color !important;

    h1,
    h3,
    .date,
    .date_connector,
    .overflowed {
        background: $bg !important;
        color: $color !important;
        border-color: $color !important;
    }
}

@mixin program_highlighted($color) {
    *,
    span,
    h1 {
        color: $color !important;
    }
    
    .program {
        display: block;
    }
}
