// FORM html
fieldset {
    margin:0;
}
tr.even {
    background:none;
}
form {
    .description {
        color:$label_color;
        font-size:10px!important;
    }
}


// FORM general
.vertical-tabs {
    clear:both;

    .form-wrapper {
        clear:right;
    }
}
.form-wrapper {
    float:none;
    clear:both;
    display:block;
}

// NEEDS OPTIMIZED //////
// //////////////////
// FORMS FORMS FORMS
.form-item {
    .button {

        &.launcher {
            border-radius:50%;
            text-overflow:hidden;
            height:21px;
            width:21px;
            background: url('../images/icon-form-add.png') no-repeat center center transparent;
            text-indent:50px;
            white-space:nowrap;
            padding:0;
            border:none;outline:none;
        }
        &.remove {
            border-radius:50%;
            text-overflow:hidden;
            height:21px;
            width:21px;
            background: url('../images/icon-form-remove.png') no-repeat center center transparent;
            text-indent:50px;
            white-space:nowrap;
            padding:0;
            border:none;outline:none;
        }
        &.edit {
            border-radius:50%;
            text-overflow:hidden;
            height:21px;
            width:21px;
            background: url('../images/icon-form-edit.png') no-repeat center center transparent;
            text-indent:50px;
            white-space:nowrap;
            padding:0;
            border:none;outline:none;
        }
    }
}
input {
    &.field-add-more-submit {
        &.form-submit {


        }
    }
}

/* media wrapper (when uploading an image on a from u see this) */
.media-widget .preview .media-item .label-wrapper label {
    color: $lightgray;
}
.media-item {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5px;
    width: 100px;
}
.media-widget .preview .media-item:hover {
    border:1px solid #999;
}

// hide more requireds
.media-widget .form-required {
    display:none;
}

// draggable multiple separators
.field-multiple-table {
    tr.draggable {
        border-bottom:10px solid $main_bg;
    }
}
// fix what the experts forgot
.media-item .label-wrapper label {
    max-width:100%;
}

// this happens somwhere else and i don't know why
.form-item table thead label {
    padding-left:0!important;
}
// legends inside of form wrappers inside of fieldsets
.form-wrapper {
    legend {
        .fieldset-legend {
            font-family: $sans_bold_font;
            font-weight:normal;
            color:$main_color;
            -webkit-font-smoothing: antialiased;
        }
    }

}

// this is the image upload form (on the venue page for instance)
.field-widget-image-image {

    fieldset {

        &.form-wrapper {

            legend {
                font-family: $sans_bold_font;
                font-weight:normal;
                color:$divider_color;
            }

            table.sticky-table {

                thead {

                    tr {
                        border: none;
                        border-bottom: 1px solid #ccc;
                        background: none;
                        th {
                            border: none;
                            box-sizing: border-box;
                            padding: 5px 0;
                        }
                    }
                }
                tbody {

                    tr {

                        &.draggable {
                            border-bottom:1px solid #ccc;
                        }
                        &:first-child {

                        }
                        &:nth-child(2) {

                        }

                        td {

                        }


                    }
                }
            }

            .image-widget-data {

                .file {
                    img {
                        margin-right:10px;
                        margin-bottom:0;
                    }
                    a {

                    }
                }
                .file-size {

                }
                input[type=submit] {
                    margin-left:0!important;
                }
                .NFI-button {
                    margin-right:20px;
                    margin-bottom:8px;
                }
            }
            input {

                &[type=file] {
                    margin-bottom:8px;
                }
                &[id$=remove-button] {
                    border-radius:50%;
                    text-overflow:hidden;
                    height:21px;
                    width:21px;
                    background: url('../images/icon-form-remove.png') no-repeat center center transparent;
                    text-indent:50px;
                    white-space:nowrap;
                    padding:0;
                    border:none;outline:none;
                }
            }
        }
    }
}


/* form things agian this will need to be organized heavily soon but
    doing some rapid testing work  here */
.form-item {
    margin-bottom:8px;
    color:$label_color;

    &.form-type-checkbox {
        margin-bottom:8px;
        clear:both;float:none;

        .icheckbox {
            float:left;
            margin-right:15px;

            &.checked {
                label {
                    color:$main_color!important;
                }
            }
        }
        label {
            &.active {
                color:$main_color;
            }
        }
    }
    &.form-type-checkboxes {
        width:100%;
        /*max-width:520px;*/

        label {
            width:33%;
            float:left;
            min-width:none;
        }
        .form-checkboxes {
            float:left;
        }
        .form-item {

            &.form-type-checkbox {
                width:100%;

                .icheckbox {
                    float:left;
                    margin-right:15px; /* tmp */
                    margin-bottom:8px;
                }
                label {
                    width:auto;
                    float:left;

                    &.active {
                        color:$main_color;
                    }
                }
                &:last-child {

                    .icheckbox {
                        margin-bottom:64px;
                    }
                }
            }
        }
    }
    &.form-type-radios {
        width:100%;
        /*max-width:520px;*/

        label {
            width:33%;
            float:left;
            min-width:none;
        }
        .form-checkboxes {
            float:left;
        }
        .form-item {

            &.form-type-radio {
                width:100%;

                .iradio {
                    float:left;
                    margin-right:15px; /* tmp */
                    margin-bottom:8px;
                }
                label {
                    width:auto;
                    float:left;
                    &.active {
                        color:$main_color;
                    }
                }
                &:last-child {

                    .iradio {
                        margin-bottom:64px;
                    }
                }
            }
        }
    }
    &.form-type-password,
    &.form-item-files-picture-upload {
        width:100%;
        /*max-width:520px;*/

        label {
            width:33%;
            float:left;
        }
        input {
            float:left;
            width:66%;
            box-sizing:border-box;
            margin-bottom:8px;
        }
        .password-strength,
        div.password-confirm {
            clear:both;
            float:none;
            margin-bottom:8px;
        }
        input.password-confirm {
            clear:none;
            float:left;
        }

    }
    &.form-type-password,
    &.form-item-field-tags-und {
        .description {
            margin-left:33%;
            clear:both;
            display:block;
        }
    }
    &.form-type-password-confirm {
        margin-bottom:64px;

        .form-type-password {
            width:100%;
            /*max-width:520px;*/

            label {
                width:33%;
                float:left;
            }
            input {
                float:left;
                width:66%;
                box-sizing:border-box;
                margin-bottom:8px;
            }
        }
        .description {
            clear:both;float:none;
        }
    }
    &.form-type-select {
        width:100%;
        /*max-width:520px;*/

        label {
            width:33%;
            float:left;
        }
        select,
        .chosen-container {
            float:left;
            width:66%!important;
            box-sizing:border-box;
            margin-bottom:8px;
        }

        .customSelect {
            float:left;
            width:66%;
            box-sizing:border-box;
            margin-bottom:8px;
            padding:4px;
            border:1px solid #eee;
            background: url('../images/icon-select-arrow.png') no-repeat 98% center #fff;
        }
    }
    &.form-type-managed-file {
        width:100%;
        /*max-width:520px;*/

        label {
            width:33%;
            float:left;
        }
        .image-widget {
            float:left;
            width:66%;
            box-sizing:border-box;

            .image-widget-data {
                float:none;
                /*background: #fff;*/
                overflow: hidden;
                line-height:1em;

                .NFI-wrapper {
                    float:left;
                    background:none;

                    .NFI-button {
                        padding:0;
                        height:110px;
                        width:110px;
                        display:block;
                        overflow:hidden;
                        text-indent:999px;
                        white-space:nowrap;
                        background:url('../images/bg-drag-image-here.png') no-repeat left top transparent;
                    }
                }
                input[type=text] {
                    border-left:none!important;
                    border-right:none!important;
                    border-bottom:none!important;
                    box-shadow:none!important;
                    padding:4px!important;
                    background:none!important;
                    clear:both;
                    float:none;
                    max-width:110px;

                }

                .form-submit {
                    float:left;
                    margin:0 0 0 20px;
                }
            }
        }
        .description {
            margin-left:33%;
            clear:both;
            display:block;
        }
    }
    &.form-type-textfield {
        width:100%;
        /*max-width:520px;*/

        label {
            width:33%;
            float:left;
            min-width:none;
            font-family: $sans_regular_font;
            color:$label_color;
        }
        input {
            float:left;
            width:66%;
            box-sizing:border-box;
            margin-bottom:8px;
        }
    }

    &.form-type-textfield {

    }
}

// privacy checkboxes
.form-wrapper {
    .form-item[class*='-field-privacy'] {
        margin-left:33%;
        margin-bottom:20px;

        label {
            font-size:11px;
        }
        .description {
          clear:both;
          float:none;
          padding-left:30px;
          margin-left:0px;
          display:block;
          line-height:1.2em;
          color:#808080;
        }
    }
}

// edit profile edit acount page
#edit-account {
    .form-item-mail,
    .form-item-name {
        .description {
            display:block;clear:both;float:none;
            margin-left:33%;
        }
    }
    .form-type-password-confirm {
        .description {
            display:block;clear:both;float:none;
            margin-left:33%;
        }
    }
}

#edit-picture {



        .form-item-files-picture-upload {

            label {
                width:33%;
                float:left;
            }
            .image-widget {
                float:left;
                width:66%;
                box-sizing:border-box;
            }
            .NFI-wrapper {
                float:left;
                width:66%;
                box-sizing:border-box;
                background:none;

                .NFI-button {
                    padding:0;
                    height:110px;
                    width:110px;
                    display:block;
                    overflow:hidden;
                    text-indent:999px;
                    white-space:nowrap;
                    background:url('../images/bg-drag-image-here.png') no-repeat left top transparent;
                }
            }
            input[type=text] {
                border-left:none!important;
                border-right:none!important;
                border-bottom:none!important;
                box-shadow:none!important;
                padding:4px!important;
                background:none!important;
                clear:both;
                float:none;
                max-width:110px;

            }

            .form-submit {
                float:left;
                margin:0 0 0 20px;
            }

            .description {
                margin-left:33%;
                clear:both;
                display:block;
            }
        }
}
.form-type-file {
    width:100%;
    /*max-width:520px;*/


}


.form-type-partial-datetime-element {

    .partial-date-element {


        .partial-date-year {
            min-width:90px;

            .form-item {
                width:100%;

                label {
                    width:33%;
                    float:left;
                    min-width:none;
                }
                select {
                    float:left;
                    width:66%;
                    box-sizing:border-box;
                    margin-bottom:8px;
                }
                .description {
                    float: none;
                    width: 100%;
                    clear: both;
                    text-align: left;
                    padding-left: 0;
                    margin-left: 0;
                }
            }
        }
        .partial-date-month {
            min-width:90px;

            .description {
                float: none;
                width: 100%;
                clear: both;
                text-align: left;
                padding-left: 0;
                margin-left: 0;
            }
        }
        .partial-date-day {
            min-width:90px;

            .description {
                float: none;
                width: 100%;
                clear: both;
                text-align: left;
                padding-left: 0;
                margin-left: 0;
            }
        }
    }
}
.text-format-wrapper {
    .tips {
        display:none;
    }
    .form-type-select {
        padding-left:0;
    }
    .filter-help {
        display:none;
    }

    .form-item {

        &.form-type-textarea {
            width:100%;
            /*max-width:520px;*/

            label {
                width:33%;
                float:left;
            }
            .form-textarea-wrapper {
                float:left;
                width:66%;
                box-sizing:border-box;
            }

        }
    }
    fieldset.filter-wrapper {
        width:100%;
        margin:0;
        padding:0;
        /*max-width:520px;*/

        .fieldset-wrapper {
            margin-left:33%;

            .filter-help {
                padding:0;
            }
        }
    }
}
.form-item {
    label {
        box-sizing: border-box;
    }
    input {
        box-sizing: border-box;
    }
}

.form-wrapper {
    .field-value-url,
    .field-value-title {
        width:100%;
        /*max-width:520px;*/
        position:relative;
        padding-left:0!important;

        label {
            width:33%;
            float:left;
        }
        input.form-text {
            float:left;
            width:66%;
            box-sizing:border-box;
            margin-bottom:8px;
        }
    }
    .form-item {
        &.form-type-textfield {
            width:100%;
            /*max-width:520px;*/
            position:relative;
            clear:both;

            label {
                width:33%;
                float:left;
            }
            input.form-text {
                float:left;
                width:66%;
                box-sizing:border-box;
                margin-bottom:8px;
            }
            .description {
                float:none;
                /*margin-left:33%;*/
            }
            .entityconnect-add {
                position:absolute;
                right:5px;
                padding:1px;
            }
            .entityconnect-edit {
                position:absolute;
                right:27px;
                padding:1px;
            }
        }
        &.form-type-textarea {
            width:100%;
            /*max-width:520px;*/
            position:relative;

            label {
                width:33%;
                float:left;
            }
            .form-textarea-wrapper {
                float:left;
                width:66%;
                box-sizing:border-box;
                margin-bottom:8px;
            }
        }
    }
    &.field-type-datetime-form {
        fieldset.form-wrapper {
            width:100%;
            /*max-width:520px;*/
            position:relative;

            legend {

            }
            .fieldset-wrapper {

                .date-float {
                    width:33%;
                    float:left;
                }
                .date-no-float {
                    float:left;
                    width:33%;
                    box-sizing:border-box;
                    clear:none;

                    &.end-date-wrapper {
                        .form-item {

                            .form-item {

                                label {
                                    display:none;
                                }
                            }
                            .description {
                                margin-left:0;
                            }
                        }
                    }


                }
            }
        }
    }
    &.form-type-textarea {
        width:100%;
        max-width:520px;
        position:relative;

        label {
            width:33%;
            float:left;
        }
        .form-textarea-wrapper {
            float:left;
            width:66%;
            box-sizing:border-box;
            margin-bottom:8px;
        }
    }

    &.field-type-partial-date-form {

        .form-item {
            width:100%;
            /*max-width:520px;*/
            position:relative;

            label {
                width:33%;
                float:left;
            }
            .partial-date-element {
                float:left;
                width:66%;
                box-sizing:border-box;
                margin-bottom:8px;
            }
        }
    }
    &.field-name-field-for-sale-form {

        .icheckbox {
            float: left;
            margin-right: 15px;
            margin-bottom: 8px;
        }
        label {
            width: auto;
            float: left;
        }
    }
    &.field-name-field-public-form {

        .icheckbox {
            float: left;
            margin-right: 15px;
            margin-bottom: 8px;
        }
        label {
            width: auto;
            float: left;
        }
    }
    &.field-name-field-images-form,
    &.field-name-field-tags-form,
    &.field-name-og-group-ref,
    &.field-type-text-long-form,
    &.field-name-field-subheader-form,
    &.field-type-url-form,
    &.field-name-field-media-form {
        margin-bottom:64px;
    }
    &.field-name-og-group-ref {
        overflow:hidden;
    }
    &.field-name-field-dimensions-form {

        .form-textarea-wrapper {
            margin-bottom:64px;
        }
    }
}
// END NEEDS OPTIMIZED //


// make sure we don't hide the account type select on the registration form
.form-item-account-type {
    display: block !important;// booooooo!
}

// getting rid of required collage
#field-media-add-more-wrapper {
    tbody {
        .form-required {
            display:none;
        }
        tr {
            border-bottom:10px solid $main_bg;
        }
    }
}


/* draggable icon thingy for sticky crosshairs etc */
a.tabledrag-handle .handle {
    background: url('../images/icon-crosshair-drag.png') no-repeat center center transparent;
    height: 20px;
    margin: 0;
    padding: 0;
    width: 20px;
}




// nice file input
.NFI-wrapper {
    // the container div
    background:#fff;
    float:right;

    .form-submit {

    }
}
.NFI-button {

}
.NFI-filename {
    // the text input element which collects and shows the value
}


// chosen overrides
.chosen-container {
    box-sizing:border-box;
    margin:0 0 8px 0;
    padding:0;
    border:none;
    background: url('../images/icon-select-arrow.png') no-repeat 98% center #fff;

    input.default {
        font-size:11px !important;
        font-family: $sans_regular_font !important;
    }

    &.chosen-container-multi {

    }
    &.chosen-container-single {

        .chosen-single {
            border-radius:0;
            border:none;box-shadow:none;
            background:none;
            font-size:12px;

            div {

                b {
                    background:none;
                }
            }

        }
        .chosen-search {
            display:none;
        }

        .chosen-results {

            .active-result {

                &.highlighted {
                    background:#ccc;
                    box-shadow:none;
                }
            }
        }
        &.chosen-container-active {

            .chosen-single {

                div {

                    b {
                        background:none;
                    }
                }
            }
        }
    }
    .chosen-choices {
        box-shadow:none;
        border:none;
        padding:0;
        background:none;
        box-sizing:border-box;
        font-size:12px!important;

        li {

            &.search-choice {
                border-radius:0;
                background:#ccc;
                border:none;
                box-shadow:none;
                font-size:12px;

                &:hover {
                    background:#ddd;
                }
            }
        }
        input {
            font-size:11px;
        }
    }
    .chosen-drop {
        border:none;
        box-shadow:none;
    }

    &.chosen-container-active {

        .chosen-choices {


        }
    }
}


// iCheck //
/* iCheck plugin Minimal skin, grey
----------------------------------- */
.icheckbox,
.iradio {
    display: block;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: url('../images/icheck-sprites.png') no-repeat;
    border: none;
    cursor: pointer;
}
.icheckbox {
  background-position: 0 0;
}
.icheckbox.hover {
    background-position: -20px 0;
}
.icheckbox.checked {
    background-position: -40px 0;
}
.icheckbox.disabled {
    background-position: -60px 0;
    cursor: default;
}
.icheckbox.checked.disabled {
    background-position: -80px 0;
}
.iradio {
  background-position: -100px 0;
}
.iradio.hover {
    background-position: -120px 0;
}
.iradio.checked {
    background-position: -140px 0;
}
.iradio.disabled {
    background-position: -160px 0;
    cursor: default;
}
.iradio.checked.disabled {
    background-position: -180px 0;
}


// ck editor overrides wysiwyg style
.cke_chrome {
    box-shadow:none!important;

    .cke_top {
        margin:0;padding:0;

        .cke_toolgroup {
            margin:0;padding:0;
            border:none;
            background:none;
        }
    }
}
// inside the iframe of the wysiwyg
body.wysiwygeditor {
    background: #fff;
    box-sizing: border-box;
    padding: 5px;
    overflow: auto;
    text-align:left;
}



// add edit icons on form fields
.entityconnect-add, .entityconnect-edit {
    width:auto;
    padding:0;
}
form div.entityconnect-edit input {
    background: url('../images/icon-form-edit.png') no-repeat center center transparent !important;
}
.entityconnect-add {
    input {
        border-radius:50%;
        text-overflow:hidden;
        height:21px!important;
        width:21px!important;
        background: url('../images/icon-form-add.png') no-repeat center center transparent!important;
        text-indent:50px;
        white-space:nowrap;
        padding:0;
        border:none;outline:none;
        margin:0;

        &:hover {
            background: url('../images/icon-form-add.png') no-repeat center center transparent !important;
            opacity:.8;
        }
    }
}
div.entityconnect-edit {
    margin-left:5px !important;
    input {
        border-radius:50%;
        text-overflow:hidden;
        height:21px!important;
        width:21px!important;
        background: url('../images/icon-form-edit.png') no-repeat center center transparent!important;
        text-indent:50px;
        white-space:nowrap;
        padding:0;
        border:none;outline:none;
        margin:0;

        &:hover {
            background: url('../images/icon-form-edit.png') no-repeat center center transparent !important;
            opacity:.8;
        }
    }
}



// add artwork form only
.node-artwork-form {
    .field-type-text-with-summary,
    .field-name-field-tags-form,
    .field-name-field-public-form {
        margin-bottom:64px;
    }
    .field-name-field-tags-form {
        overflow:hidden;
    }
    .field-name-field-dimensions-form {
        .form-textarea-wrapper {
            margin-bottom:64px!important;
        }
    }
    .ui-multiselect {
        margin-bottom:8px;
    }
    .description {
        margin-bottom:8px;
    }
    .field-name-field-created-date-form {

        .partial-date-year {

            .description {
                clear:both;
                margin-left:0;
            }
        }
    }
    #cke_1_contents {
        height:210px !important;

    }
    .field-name-field-roles-form {
        .description {
            margin-left:33%;
        }
    }
}


// add article page form
.page-node-add-article {
    .field-type-taxonomy-term-reference-form {
        margin-bottom:64px;
    }
    .field-name-field-contact-name-form {
        overflow:hidden;
    }
    .field-type-taxonomy-term-reference-form {
        label {
          margin-bottom:64px;
        }
    }
}


// add venue only
.node-venue-form {
    .field-name-field-public-form,
    .field-type-taxonomy-term-reference-form {
        label {
          margin-bottom:64px;
        }
    }
    .field-name-field-contact-name-form {
        overflow:hidden;
        margin-bottom:64px;
    }
}


// add event form only
.node-event-form {
    .field-name-field-category-form,
    .field-name-field-date-form,
    .field-type-text-with-summary,
    .field-name-field-community-user-select-form {
        margin-bottom:64px;
    }
    .field-name-field-category-form {
        label {
          margin-bottom:64px;
        }
    }
    #edit-submit {
        float:none;
    }
}


// ALL ADD EDIT PAGES
.page-node-add,
.page-node-edit,
.page-user-edit {
    input {

        &.ajax-processed,
        &#edit-submit,
        &#edit-preview {
            float: left;
            height: auto;
            padding: 5px 10px;
            border: 1px solid #333;
            font-family: $sans_bold_font;
            @include no_break;
            @include rounded;
            cursor: pointer;
            margin-left:0;
            margin-right:10px;
            background: #333;
            color:#fff;
            text-transform:capitalize;
            font-size:12px;
            font-weight:normal;
            letter-spacing:0;

            &:hover {
                background: #222;
                color:#fff;
            }
        }
    }
    form input[type=text],
    form textarea,
    form input[type=password] {
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        border:none;
        outline: none;
        color:#737373;
        padding:4px 0 6px 0;
        box-sizing: border-box;
        background:#fff;
        border-left:4px solid #fff!important;
        border-right:4px solid #fff!important;
        border-bottom:none;
        z-index:42;
        position:relative;
        background: url('../images/bg-input-dots.gif') repeat-x left bottom #fff!important;


        &:before {
            background:#fff;
            width:4px;height:10px;display:block;
            content:"thsi akes no esens";
            z-index:43;
            position:absolute;
            left:0;bottom:0;
            z-index:998;
        }
        &:after {
            background:#fff;
            width:4px;height:10px;display:inline-block;
            content:"thsi akes no esens";
            z-index:44;
            position:absolute;
            right:0;bottom:0;
            z-index:999;
        }
    }

    form input[type=text]:focus,
    form textarea:focus,
    form input[type=password]:focus {

        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        border:none;
        outline: none;
        color:#737373;
        padding:4px 0 6px 0;
        box-sizing: border-box;
        background:#fff;
        border-left:4px solid #fff!important;
        border-right:4px solid #fff!important;
        border-bottom:none;
        z-index:42;
        position:relative;
        background: url('../images/bg-input-dots.gif') repeat-x left bottom #fff!important;

    }
}

// user profile form only
#user-profile-form {
    .sticky-table {
        thead {
            display:none;
        }
    }
    .form-item-profile-resume-field-biography-und-0-value {
        label {
            color:transparent;
        }
    }
}
// STICKY AND DRAGGABLE TABLE STUFF
.sticky-table {
    border:none;

    thead {
        border:none;
        display:none; /* because its just duplicate title */
        tr {
            border:none;
            border-bottom:1px solid #ccc;
            background:none;

            th {
                border:none;
                box-sizing:border-box;
                padding:5px 0;
            }
        }
    }
    tbody {
        border:none;
        tr {
            border:none;
            td {
                border:none;
                box-sizing:border-box;
                padding:5px 0;

                &.field-multiple-drag {
                    border-right:1px solid #ccc;
                    vertical-align:top;
                    /*width:33%;*/
                }
                &:nth-child(2) {

                }
                .media-widget {
                    /*padding-left:20px;*/

                    .form-item {
                        display:inline;
                        label {
                            min-width:1px;
                        }
                    }
                }
                .field-value-url {
                    padding-left:20px;
                }
                &:nth-child(2) {
                    padding-left:10px;
                }
            }
        }
    }
}
.field-type-file-form {
    .field-add-more-submit {
        /*margin-left:33%!important;*/
    }
}
.sticky-table {
    margin-bottom:10px;
}

// draggable sticky grab icon
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
    padding-right: 0;
}
.draggable a.tabledrag-handle {
    cursor: move;
    float: left;
    height: 20px;
    margin-left: 0;
    overflow: hidden;
    text-decoration: none;
}
.handle {
    /*background: url(../../misc/draggable.png) no-repeat 6px 9px;*/
    background-position:center center;
    height: 13px;
    margin: 0;
    padding: 0;
    width: 13px;
    oveflow:hidden;
    display:block;
    text-indent:999px;
}
/* end draggable */


/* birthdate form items */
.field-name-field-birthdate {

    .form-type-date-select {
        display:block;
        width:100%;
        /*max-width:520px;*/

        .date-padding {
            padding:0;
            float:none;
            display:block;

            .form-item {
                width:100%;
                /*max-width:520px;*/
                position:relative;
                float:none!important;
                clear:both;
                display:block;

                label {
                    width:33%;
                    float:left;
                }
                .date-month,
                .date-day,
                .date-year {
                    float:left;
                    width:66%;
                    box-sizing:border-box;
                    margin-bottom:8px;

                    .customSelect {
                        width:100%;
                    }
                }
            }
        }
    }
}


// article edit form

form {
  &.node-article-form {
    .cke_contents {
      min-height:600px;
    }
  }
}


// MISC //////////////////////////////////////
//////////////////////////////////////////////

// override white background on odd rows in tables
td.odd {
    background:none;
}



// shame
// remove password strength temp tmp
.password-strength {
    display:none;
}
// this hides text format option for non-admins - shame tmp temp
body {

    &.admin-menu {
        .wysiwyg-toggle-wrapper {
            display:block;
        }
    }
    .wysiwyg-toggle-wrapper {
        display:none;
    }
}


// collapsable
fieldset.collapsible {
  height:auto!important;
  margin-bottom:5px;
  legend {
    border-bottom:1px solid #ccc;
    width:100%;
    display:block;
    padding:0px;
    .fieldset-legend {
      background-image: url('../images/icon-collapse-arrow-up.png') !important;
      background-position: 5px center !important;
      padding-left:0px!important;
      .fieldset-title {
        display:block;
        padding:5px 0 5px 10px;
        /*border-left:1px solid #ccc;*/
        padding-left:30px!important;
          position:relative;
          &:after {
            content:"";
              position:absolute;
              top:0px;
              bottom:0px;
              left:20px;
              width:1px;
              display:block;
              background:#ccc;
          }
      }
      .summary {
        display:none;
      }
    }
  }
  &.collapsed {
    legend {
      .fieldset-legend {
        background-image: url('../images/icon-collapse-arrow-down.png') !important;
        background-repeat: no-repeat;
        background-position: 5px center !important;
        .fieldset-title {

        }
      }
    }
  }
}


.page-user-edit {
  #tasks {
    display:none;
  }
}
.logged-in.admin-menu .page-user-edit #tasks {
  display:block;
}

// ON THE ARTICLE EDIT PAGE ONLY
.page-node-edit.node-type-article {
  #main-content {
    margin-left:20px;
    margin-right:20px;
    
    #content {
      @include column(24);
      margin-left:0px;
      margin-right:0px;
    }
  }
}
