/* LAYOUT G artwork **************************/

.layout-g {
    .title-artwork {
        .block {
            margin:0;
            .block-inner {
                .block-content {
                    background:none;
                    h2 {

                    }
                }
            }
        }
    }
    .panel-col {

        &.content-artwork {
            position:relative;

            .content-top {

            }
            .content-bottom {

                .inset-left {
                    /*font-family: $serif_font;*/
                    .inside {
                      padding-right:15px;
                    }
                }
                .inset-middle {
                  .inside {
                    padding-right:15px;
                  }
                }
                .inset-right {
                  .inside {
                    padding-left:15px;
                    .comment-form {
                      .form-item {
                        margin-top:0px;
                      }
                    }
                  }
                }
            }

            .pane-node-title h2 {
                 background:none;
                 padding:15px 0 10px 0;
                 margin:0 0 10px 0;
                 border-bottom: 1px solid $lightgray;
                 font-size:18px;
                 height:auto;
                 line-height:auto;
                 text-transform:none;
                 letter-spacing:normal;

                 a {
                     font-family: $serif_font;
                     font-weight: normal;
                     height:auto;
                 }
            }
            .pane-node-links {
                position:absolute;
                display:inline-block;
                right:10px;
                top:10px;
                text-align:right;
            }
            .pane-node-author {

                a {
                    font-family: $serif_bold_font;
                    font-size:24px;
                    font-weight:normal;
                    line-height:24px;
                    margin-bottom:10px;
                    padding-top:5px;
                    display:block;
                }
            }
            .pane-mnartist-collections-mna-collections-star {
                position:absolute;
                top:12px;
                right:6px;
                z-index:9999;
            }
        }
    }
}
