.layout-c {
  padding:20px 0;

  .panel-2col {

    .panel-col-first {
      width:50%;
      box-sizing:border-box;
      padding-right:10px;

      @media screen and (max-width: $break-mobile) {
        padding-right:0;
      }
    }

    .panel-col-last {
      width:50%;
      padding-left:10px;
      box-sizing:border-box;

      @media screen and (max-width: $break-mobile) {
        padding-left:0;
      }
    }
  }
  .pane-mnartist-profiles-mna-user-profile {
      .follow-menu {
          position:absolute;
          right:0px;
          top:5px;
      }
      .block-content {
          h1 {
              padding-right:30px;
          }
      }
  }
}
