.layout-b {
   .main-content {

      .inside {
        position:relative;
        padding:20px;
        background:#fff;
        margin-right:20px !important;

        @media screen and (max-width: $break-mobile) {
            margin-right:0px!important;
        }
        @media screen and (max-width: $break-tablet) {
            margin-right:0px!important;
        }

        .block-inner {
          margin-right:0px;margin-left:0px;
        }
      }
   }
   .panel-col-first {
     .inside {

     }
   }
   .sidebar-right {
     .inside {

     }
     .article-author {
       width:100%;

       .widget-content {
         background:none;

         a {
           text-align:center;
           img {
             display:block;
             clear:both;
             float:none;
             border-radius:50%;
             width:80%;
             height:auto;
             margin:0 auto 20px auto;
           }
           span {
             font-size:18px;
             font-family: $serif-font;
             font-weight:bold;
             clear:both;
             display:block;
             float:none;
           }
         }
       }
     }

     .pane-artist-community-other-articles-by-this-author,
     .pane-artist-community-other-articles-in-this-category {
       margin-bottom:20px;

       h2 {
         margin:0;
         padding:0 0 5px 0;
       }
       .widget-content {
         padding:0px;
       }
       ul {
         padding:0px;
         margin:0px;
         li {
           list-style:none;
           a {
             img {
               width:100%;
               height:auto;
               display:block;
               margin:0px;
             }
             span {
               display:block;
               width:100%;
               float:none;
               padding:10px;
               border-bottom:1px dotted #999;
               box-sizing:border-box;
             }
           }
           &:last-child {
             a {
               span {
                 border-bottom:none;
               }
             }
           }
         }
       }
     }
   }
   .panel-col-top {
     .block {
       margin:0px;

       h2 {
         padding: 0 0 5px 0;
         margin:0px;
       }
     }
   }
}


.panel-2col {
/*  overflow: hidden;  */
}

.panel-2col .panel-col-first {
  float: left;
  width: 75%;
}
* html .panel-2col .panel-col-first {
  width: 74.9%;
}

.panel-2col .panel-col-first .inside {
  margin: 0 0 1em 0;
}

.panel-2col .panel-col-last {
  float: left;
  width: 25%;
}
* html .panel-2col .panel-col-last {
  width: 24.9%;
}

.panel-2col .panel-col-last .inside {
  margin: 0 0 1em 0;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-2col .panel-separator {
  margin: 0 0 1em 0;
}
