.layout-c {
  padding:20px 0;

  .panel-2col {

    .panel-col-first {
      width:50%;
      box-sizing:border-box;
      padding-right:10px;

      @media screen and (max-width: $break-mobile) {
        padding-right:0;
      }
    }

    .panel-col-last {
      width:50%;
      padding-left:10px;
      box-sizing:border-box;

      @media screen and (max-width: $break-mobile) {
        padding-left:0;
      }
    }
  }
  .pane-mnartist-profiles-mna-user-profile {
      .follow-menu {
          position:absolute;
          right:10px;
          top:15px;
          .flag-wrapper {
              a {
                  padding:0px;
              }
          }
          ul {
              li {
                  &.follow-this {
                      padding-left:0px;
                      margin-bottom:8px;
                      border-bottom:1px solid #fff;
                  }
              }
          }

          &:hover {
              .flag-wrapper {
                  a {
                      background:#323232;
                      img {
                          -webkit-filter: invert(100%);
                          filter: invert(100%);
                      }
                  }
              }
              ul {
                  position:absolute;
                  right:0px;
                  top:40px;
                  left:auto;
                  bottom:auto;
                  font-size: 12px;
                  font-family: "Apercu Regular", Arial, Helvetica, sans-serif;

              }
          }
      }
      .block-content {
          h1 {
              padding-right:30px;
          }
      }
  }
}
