
/* user profile page */

.user-picture {

	a {
		display:block;
		width:220px;
		height:220px;
		overflow:hidden;
		border-radius:50%;
		background:#f2f2f2;

		img {

		}
	}
}

.form-wrapper .user-picture a {
    overflow: visible;
    border-radius: 0;
}

/* collections block */
.pane-mnartist-profiles-mna-user-collections {
	.collections {
		ul {
			margin:0;padding:0;
			overflow:hidden;
			margin-bottom:5px;
			li {
				width: 50%;
				display: inline-block;
				float: left;
				box-sizing:border-box;
				list-style:none;
				margin-bottom:10px;

				&:nth-child(odd) {
					padding-right:5px;
				}
				&:nth-child(even) {
					padding-left:5px;
				}

				a {
					display:block;

					img {
						display:block;
						margin-bottom:5px;
						width:100%;
						height:auto;
					}
					.title {
						display:block;
						width:100%;
						height:1.4em;
						white-space:nowrap;
						text-overflow:ellipsis;
						overflow:hidden;
					}
				}
			}
		}
	}
}

.pane-user-mnartist-profiles-collections {

	.block-inner {

		.block-content {

			background:none;

			h3 {
				@include quiet_type;
				padding:0 0 5px 0;
				margin:0;
				line-height:12px;
				/*height:15px;*/
			}
			dl {
				background:#fff;
				padding:0;margin:0;
			}
		}
	}
}

.pane-user-flag-usercollections-link {
	.panel-pane {
		.block-inner {
			background:none;
		}
	}
}
.pane-mnartist-profiles-mna-user-profile {

	.block-content {
		position:relative;
		.flag-wrapper {
			position:absolute;
			top:10px;
			right:5px;

			.flag-count {
				display:none;
			}
		}
	}
	h1 {
		margin:0 10px 20px 10px;
		border-bottom:1px solid $lightgray;
		font-size:30px;
		padding:20px 0 10px 0;
	}
	.user-profile {
		padding:10px;

		.user-profile-data {
			display:table;

			.left {
				display:table-cell;
				width:50%;
				vertical-align:top;
				padding-right:0px;

				.profile-image-wrapper {
					border-radius:50%;
					overflow:hidden;
					margin-bottom:20px;

					img {
						width:100%;
						height:auto;
						display:block;
						margin:0;
						padding:0;
					}
				}

			}
			.right {
				display:table-cell;
				width:50%;
				vertical-align:top;
				padding-left:20px;

			}
		}

		.profile-title {
			@include quiet_type;
			color: $lightgray;
		}
	}

}
h5.profile-title {
	text-transform:uppercase;
	text-align:center;
	border-bottom:1px solid $lightgray;
	margin:0 0 10px 0;
	font-family: $serif_font;
	font-weight:normal;

}


/* activity widget */
.pane-mnartist-activity-activity {

	.item-list {
		font-family: $serif_font;
		padding:10px;
		ul {
			margin:0;
			padding:0;

			li {
				list-style:none;
				border-bottom:1px solid #ccc;
				display:block;
				padding:0 0 10px 0;
				margin:0 0 10px 0;

				.feed-update-node-text {
					width:100%;
					text-overflow:ellipsis;
					overflow:hidden;
					display:block;
					white-space:nowrap;
				}
				.left {
					a {
						display:none;
					}
				}
				.feed-update-description {
					a {
						font-weight:bold;
					}
				}
			}
		}
	}
	.username {
		font-weight:bold;
	}
}
/* */


/* art widget on artist page */
.pane-user-mnartist-profiles-artworks {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	max-height:9999px;

	.block-inner {

		.block-content {
			background:none;

			dt {
				@include quiet_type;
				padding:0 0 5px 0;
				margin:0;
			}
			dd {
				padding:10px;
				background:#fff;
				margin:0;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
				max-height:9999px;
				height:auto;

				.thumbs {
					overflow-x:scroll;
					white-space: nowrap;
					padding-top:20px;
					margin-top:20px;
					border-top:1px solid #999;
					clear:both;
					float:none;

					img {
						margin-right:20px;
						height:120px;
						width:auto;

					}
				}
				.large-display {
					-webkit-transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
					-o-transition: all .2s ease-in-out;
					transition: all .2s ease-in-out;
					max-height:999px;
					height:auto;

					.slide {
						width:100%;
						-webkit-transition: all .2s ease-in-out;
						-moz-transition: all .2s ease-in-out;
						-o-transition: all .2s ease-in-out;
						transition: all .2s ease-in-out;
						max-height:999px;

						.content {
							clear:both;
							margin-bottom:20px;

							img {
								width:100%;
								height:auto;
							}
						}
						.left {
							float: left;
							width: 45%;
							vertical-align:top;
							font-family: $serif_font;
							position:relative;

							a {
								font-size:18px;
								display:block;
								border-bottom:1px solid #999;
								margin-bottom:10px;
							}

							.user-profile-slideshow-star {
								position:absolute;
								right: 0;
								top: -6px;
							}

							.menu {
								a {
									font-size:12px;
									display:inline-block;
									margin:0;
									border-bottom:none;
								}

							}
							.views-field-title {
								a {
									padding-bottom:8px;
									padding-right:25px;
								}
							}
						}
						.right {
							float: right;
							width: 45%;
							vertical-align:top;
						}
						.right:after {
							content:"";
							display:block;
							float:none;
							clear:both;
						}
					}
					.slide:after {
						content:"";
						clear:both;
						float:none;
						display:block;

					}
				}
			}
		}
	}
}
/* end artwork widgeet */


/* artist bio stuff (in the tabs( */
.profile-label {
	display:block;
	@include quiet_type;
}

.profile-city-state {
	font-family: $sans_regular_font;
	text-transform:uppercase;
	margin-bottom:10px;
}
/* */


/* collection menu on my stuff pages */
.my-stuff {
    .user-feed-message-star {
        ul.menu {
            li {
                ul {
                    background:$main_bg;
                    li {
                        a {
                            color:#666!important;   
                        }
                    }
                }
                &:hover {
                    background:$main_bg;   
                }
            }
            hr {
                background:#ccc;   
            }
        }
    }
}

// welcome content
.user-welcome {
    color:#fff;
    text-align:left;
    
    h2 {
        font-size:30px;
        text-transform:none;
        padding:0px;
        margin-bottom:40px;
        text-align:left;
        overflow:auto;
        text-overflow:inherit;
        white-space: normal;
        line-height:34px;
        height:auto;
    }
    .done-link {
        color:#fff; 
        input {
            margin-right:8px;
        }
    }
}
.welcome-list {
    @include container;
    margin:0;
    padding:0;
    border-bottom:1px solid #fff;
    margin-bottom:30px;
    overflow:hidden;
    
    li {
        @include column(8);
        padding-top:40px;
        margin-bottom:30px;
        
        &.welcome-artists {
            background: url('../images/icon-welcome-user.png') no-repeat left top transparent;
        }
        &.welcome-collect {
            background: url('../images/icon-welcome-star.png') no-repeat left top transparent;
        }
        &.welcome-articles {
            @include last;
            background: url('../images/icon-welcome-doc.png') no-repeat left top transparent;
        }
        &.welcome-artwork {
            background: url('../images/icon-welcome-artwork.png') no-repeat left top transparent;
        }
        &.welcome-opportunities {
            background: url('../images/icon-welcome-hand.png') no-repeat left top transparent;
        }
        &.welcome-events {
            @include last;
            background: url('../images/icon-welcome-calendar.png') no-repeat left top transparent;
        }
        
        @media screen and (max-width: $break-mobile) {
            @include column(12);
        }
        
    }
}
