/* LAYOUT A ************************************/
/* community and homepage template stuff */

.layout-a {
  .panel-2col .panel-col-first {
    display:block;clear:both;
    float:none;margin:0 0 30px 0;
    padding:0;
  }
    .panel-col-first {
        float: left;
        width: 75%;
        box-sizing:border-box;
        padding-right:20px;

        @media screen and (max-width: $break-mobile) {
            padding-right:0;
        }
        @media screen and (max-width: $break-tablet) {
            padding-right:0;
        }
        @media screen and (max-width: $break-desktop-small) {
            padding-right:0;
        }

        .inside {
            margin: 0 .5em 1em 0;

            .article-thing {
                margin-right:20px;
            }
            .search-results {
                margin-right:20px;
            }
        }
        .inset-left {
            float: left;
            width: 75%;
        }
        .inset-right {
            float: left;
            width: 25%;
        }

    }
    .panel-col-last {
        float: left;
        width: 25%;
        box-sizing:border-box;

        .inside {
            margin: 0 0 1em .5em;
        }
    }
    .panel-separator {
        margin: 0 0 1em 0;
    }
}


.layout-a {
  .panel-2col {
    .panel-col-top {
      width:100%;
      .left {
        width:75%;
        float:left;
        .inside {
          background:#ccc;
        }
      }
      .right {
        width:25%;
        float:left;
        .inside {
          background:#ccc;
        }
      }
    }
    .panel-col-full {
      width:100%;
      .inside {
        width:100%;
        background:#ccc;
      }
    }
  }
}




* html .panel-2col.layout-a .panel-col-first {
  width: 74.9%;
}
* html .panel-2col.layout-a .panel-col-last {
  width: 24.9%;
}
/* insets */
* html .panel-2col.layout-a .panel-col-first .panel-col-first.inset-left{
  width: 74.9%;
}
* html .panel-2col.layout-a .panel-col-first .panel-col-last.inset-right{
  width: 24.9%;
}
