// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

#menu {
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	width:200px;
	min-height:100%;
	height:auto;
	overflow-y: auto;
}
#menu {
	.region-inner {
		position:relative;
	}
	.block-mnartist-filter {
		margin-bottom:0;
	}
	.search-container {
		display:block;
		margin:0;
		padding:0;
		width:100%;
		border-bottom:1px solid #666;



		input {
			width:100%;
			border-width:0;
			padding:0 20px 0 0;
			line-height:20px;
			margin:0;
			background:$menu_bg;
			background: url('../images/icon-magnify-sidebar.png') no-repeat right center $menu_bg;
			text-indent:10px;
			position:relative;
			box-sizing:border-box;
		}
		input:focus {
			outline:none;
			background: url('../images/icon-magnify-sidebar.png') no-repeat right center #ccc;
		}
	}
	ul {
		margin:0;
		padding:0;
		list-style:none;

		li {
			margin:0;
			padding:0;
			position:relative;

			a {
				display:block;
				margin:0 10px;
				padding:8px 13px 8px 20px;
				line-height:1em;
				text-transform:uppercase;
				font-size:12px;
				color:#666;
				background: url('../images/mna-circle-hollow.svg') no-repeat left center transparent;
				background-size: 10px auto;

			}
			a.active-trail {
				/*background: url('../images/mna-circle-filled.svg') no-repeat left center transparent;*/
				background: url('../images/icon-check-solid.svg') no-repeat left center transparent;
				background-size: 9px auto;

			}
			a.active-trail.active {
				background: url('../images/icon-check-hollow.svg') no-repeat left center transparent;
				background-size: 9px auto;
			}
			a.active-trail.active.selected {
				background: url('../images/icon-check-solid.svg') no-repeat left center transparent;
				background-size: 9px auto;
				color:#111;
                /*@include sans_bold_font;
				font-weight:bold;*/
				font-weight:normal;
				font-family: $sans_bold_font;
			}
			a.expand {
				line-height:1em;
				margin:0;
				padding:8px 10px 0 8px;
				right:0;top:0;
				position:absolute;
				background:none;
			}
			.item-list {
				display:none;

				ul {
					background: #eaeaea;
					li {
						padding:0 0 0 30px;
						display:block;

						a {
							margin:0;
							/*
								padding:5px 5px 5px 0px;
								background:none;
							*/
							line-height:1em;

							text-transform:none;
							border-bottom:none;
							padding:8px 0 8px 20px;
						}
						a.active-trail.active.selected {
							font-weight:normal;
						}
					}
					li.first {
						border-bottom:none;
					}
					li.last {

					}
				}
				.menu-event-datepicker {
					display:block;

					table {
						tr {
							td {
								a {
									padding:0;
									font-size:10px;
									background-image:none;

									&.ui-state-highlight {
										background:#fff;
										border:1px solid #999;
									}
								}
							}
						}
					}
					.ui-datepicker {

						th {
							font-weight:normal;
						}
					}
				}
			}


		}
		li.first {

		}
		li {
			&:first-child {
				border-bottom: 1px solid #fff;
				a {
					&.active {
						/*background: url('../images/mna-circle-half.svg') no-repeat left center transparent;
						background-size: 10px auto;
						background: url('../images/mna-circle-filled.svg') no-repeat left center transparent;
						background-size: 10px auto;*/
					}
				}
			}
		}
		.block {
			margin-bottom:0px;

		}
	}
	.menu-event-datepicker {
		max-width:200px;
		margin:0 0 0 -30px !important;
		box-sizing:border-box;
		padding:0 10px;
		clear:both;float:none;
		display:block;


		.ui-datepicker-prev,
		.ui-datepicker-next {
			padding:0;
		}

		.ui-datepicker-inline {
			padding:0 0 10px 0;
		}
	}
}
#block-artist-community-menu-search {

	.block-inner {
		margin:0;
		padding:0;

	}
}

#menu #block-mnartist-filter-mna-filter-create {
	position:absolute;
	top:5px;
	right:0px;

	ul.menu {

		li {
			border:none;
			a {
				background:none;
				margin:0;
				padding:0;
			}

			ul {

				li {

					a {
						background: none;
						padding: 5px 0;
					}
				}
			}
		}
	}
	hr {
		display:none;
	}
}

#menu ul.mega-tabs {
	width:100%;
	position:relative;
	display:table;

	li {
		width:50%;
		display:table-cell;
		border-bottom:none!important;


		a {
			display:block;
			line-height:2.4em;
            // @include sans_bold_font;
			font-weight:bold;
			padding:0;
			text-align:center;
			background-image:none;
			margin:0;
		}
	}
	li.user-tab {
		background:$mystuff_bg_dark;

		a {
			color:#e5e5e5;

		}
	}
}

body.admin-menu #menu {
	top:20px;
}
#menu:before {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:200px;
	background:$menu_bg;
	position:fixed;
	min-height:100%;
	content:"";
	z-index:-1;
}
p.site-description {
	position:relative;
	padding:0;
	margin:10px;
	font-size:12px;
	color:#888;
	float:none;
	display:block;
}
.menu-content {
	display:block;
}
.menu-trigger {
	display: none;
	position:relative;
}
/* */


/* date picker on menu bar (this might not need to be defined) */
/* date picker on page ****************/
.menu-event-datepicker {
	display:none;
}
#menu ul li .ui-datepicker-inline a {
	padding:0;
	background-image:none;
}
#menu ul li .menu-event-datepicker {
	margin:0 -10px;
	background:#ebebeb;
}
/* */

/* favorite filter star */
#create-filter {
	width:17px;
	height:16px;
	overflow:hidden;
	display:block;
	position:absolute;
	top:10px;
	right:10px;
	background: url('../images/fav-star.svg') no-repeat left top transparent;
	text-indent:100%;
	white-space: nowrap;
	z-index:999;
	opacity:.4;
}


/* my stuff menu bar */
.my-stuff {
	background: $mystuff_bg_light;

	#menu {
		background:$mystuff_bg_dark;



		ul.mega-tabs {
			background:$mystuff_bg_dark;

			li {
				background:$main_bg;
				border:none;

				a {
					color:$mystuff_bg_dark;
					padding:0;
				}

			}
			li.user-tab {
				background:$mystuff_bg_dark;


				a {
					color:#e5e5e5;
				}
			}
		}
		ul {

			li {
				border-bottom: 1px solid $mystuff_bg_light;
				a {
					color:#e3e3e3;
					background:none;
					padding:8px 13px 8px 8px;
					margin:0;

				}
				.item-list {
					background:#4d4d4d;
					margin-left:0;
					margin-right:0;
					padding-bottom:10px;
					padding-top:5px;



					ul {
						background:#4d4d4d;

						li {
							padding:0 0 0 0;


							a {
								color:#ccc;
								padding:5px 0;
								margin:0 10px;
								border-bottom:1px solid #404040;
							}
							a.active {
								color:#fff;
							}
						}
						li.last {
							margin-bottom:0px!important;


							a {

							}
						}

					}
				}
			}
			li.first {
				border-bottom: 1px solid $mystuff_bg_light;
				border-top: 1px solid $mystuff_bg_light;
			}
		}
		ul.my-stuff-menu {

			li.last {

				margin-bottom:20px !important;
				position:relative;
				border-bottom: 1px solid $mystuff_bg_light !important;

				a {

					/* border:1px solid #666;
					margin-bottom:5px; */

				}
			}
			li {
				a.user-edit {
					position:absolute;
					right: 0;
					top: 0;
					bottom:0;
					border:none;
					margin:0;
					background: url('../images/icon-pencil-white.svg') no-repeat left center transparent;
					padding:0;
					height:auto;
					width:18px;
					overflow:hidden;
					display:block;
					text-indent:100%;
					white-space:nowrap;
					&.active {
						background: url('../images/icon-pencil-white.svg') no-repeat left center transparent;
						opacity:.6;
					}

				}
				a.user-edit:hover {
					opacity:.6;
				}
				a.active {
					background:$mystuff_bg_light;
				}
				li.last {
					padding-top:0;
					a {
						border:none;margin-bottom:0;
					}
				}
			}
		}
		ul.my-stuff-edit-menu {

			li {
				border:none;
				margin-bottom:5px;

				a {
					border:1px solid #666;
					margin:0 5px 5px 5px;
					padding-left:5px;
				}
			}
		}
	}
	#menu:before {
		background:$mystuff_bg_dark;
		position:absolute;
		left:0;
		top:0;
		bottom:0;
		width:200px;
		background:$mystuff_bg_dark;
		position:fixed;
		min-height:100%;
		content:"";
		z-index:-1;
	}
	.panel-pane {
		.block-inner {
			.block-content {
				background:$mystuff_bg_dark;
				color:#8f8f8f;
			}
		}
	}
}

// near me sidebar filter form
.nearme-filter  {
	margin-bottom:10px;
	box-sizing: border-box;
	padding-right:10px;
	width:100%;
	clear:both;
	overflow:hidden;
	display:block;
	padding-top:10px;

	label {
		display:block;
        width:40%;
        float:left;
        box-sizing: border-box;
        padding-left:0;padding-right:0;
        font-family: 'Apercu Regular';
		font-style: normal;
		font-weight: normal;
		line-height:16px;
		font-size:12px;
		color:#222;
		padding-left:0;
	}
	input[type="search"] {
		display:block;
        width:60%;
        float:left;
        box-sizing: border-box;
        position:relative;
        background: url('../images/icon-magnify.svg') no-repeat 95% center #fff;
        background-size:9px auto;
        padding-right:17px;
	}
}

// placeholder text color
::-webkit-input-placeholder {
   color: #888;
}

:-moz-placeholder { /* Firefox 18- */
   color: #888;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #888;
}

:-ms-input-placeholder {
   color: #888;
}