
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the body font size on small devices */
html {
  font-size: 81.3%;
}

.sidebar-right, .main-content {
	margin-left:0;
	margin-right:0;
	display:block;
	clear:both;
	margin-bottom:20px;
	float:none!important;
	width:auto!important;
}
.content-bottom {
	display:block;
	margin-bottom:0;

	.one-third {
		@include full_width;
	}

	.one-third.panel-col-last {
		border-left:none;
	}
}
form input.text-full {
	max-width:220px;
}

.panel-1col .panel-col .one-third {
	@include full_width;
}

.panel-2col {

	.panel-col-first, .panel-col-first {
		@include full_width;
    padding-right:0px;padding-left:0px;
	}
}
.panel-2col .panel-col-last,
.panel-2col .panel-col-first,
.panel-2col .panel-col-last .panel-col-first.inset-left,
.panel-2col .panel-col-last .panel-col-last.inset-right {
	@include full_width;
  padding-right:0px;
  padding-left:0px;
}

.fieldset-wrapper {
	.date-no-float {
		display:block;
		width:auto;
		clear:both;;
	}
}
.layout-c .panel-2col .panel-col-first {
  padding-right:0px;
}
.layout-c .panel-2col .panel-col-last {
  padding-left:0px;
}

#menu, #menu:before {
  width:0px;
  overflow:hidden;
  .menu-content {
    width:200px;
  }
}
