// css for stand-alone resume page

@import "base";

.page-user-resume-download {
    background-color: #f4f4f4 !important;
    color: $main_color;
    margin:0;padding:0;
    background-image:none!important;


    #content {

        .container {
          max-width:720px;
          margin-bottom:60px;
          margin-top:80px;
            section {
                padding-bottom:20px;
                margin-bottom:20px;
                border-bottom:1px solid #ccc;

                &:last-child {
                    border-bottom:none;
                    margin-bottom:0;
                }
                div {
                    font-size:14px;
                    p {
                        label {

                        }

                        &:last-child {
                          margin-bottom:0px;
                        }
                    }
                }
                h2 {
                  padding-left:0px;
                  text-transform:none;
                  font-family:$sans_bold_font;
                  font-size:14px;
                  line-height:16px;
                  height:auto;
                }
                h1 {
                  padding:0 0 20px 0;
                  margin-bottom:0 0 20px 0;
                  border-bottom:1px solid #ccc;
                  font-size:22px;
                  font-weight:normal;
                  font-family:$sans_bold_font;
                }
                &.websites {
                  ul {
                    margin:0;
                    padding:0;

                    li {
                      list-style-type:none;
                      font-family:$sans_bold_font;
                      a {
                        font-family:$sans_regular_font;
                      }
                    }
                  }
                }
            }
        }
    }
    #menu {
        display:none; /* we don't want to show this on this page */
    }
}
