// css for stand-alone resume page

@import "base";

html {
    background: $main_bg;
    color: $main_color;

    body {
        font-family: $sans_regular_font;
        font-size: 12px;
        line-height: 16px;
        text-rendering: optimizeLegibility;

        section {

            h2 {

            }
            p {

            }
            ul {

                li {

                }
            }
            ol {

                li {

                }
            }
            a {

            }
        }
    }
}
