// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

/* user profile page */

.user-picture {

	a {
		display:block;
		width:220px;
		height:220px;
		overflow:hidden;
		border-radius:50%;
		background:#f2f2f2;

		img {

		}
	}
}

.form-wrapper .user-picture a {
    overflow: visible;
    border-radius: 0;
}

.pane-user-mnartist-profiles-collections {

	.block-inner {

		.block-content {

			background:none;

			h3 {
				@include quiet_type;
				padding:0 0 5px 0;
				margin:0;
				line-height:12px;
				/*height:15px;*/
			}
			dl {
				background:#fff;
				padding:0;margin:0;
			}
		}
	}
}

.pane-user-flag-usercollections-link {
	.panel-pane {
		.block-inner {
			background:none;
		}
	}
}
.pane-mnartist-profiles-mna-user-profile {

	.block-content {
		position:relative;
		.flag-wrapper {
			position:absolute;
			top:10px;
			right:5px;

			.flag-count {
				display:none;
			}
		}
	}
	h1 {
		margin:0 10px 20px 10px;
		border-bottom:1px solid $lightgray;
		font-size:30px;
		padding:20px 0 10px 0;
	}
	.user-profile {
		padding:10px;

		.user-profile-data {
			display:table;

			.left {
				display:table-cell;
				width:50%;
				vertical-align:top;
				padding-right:20px;

				.profile-image-wrapper {
					border-radius:50%;
					overflow:hidden;
					margin-bottom:20px;

					img {
						width:100%;
						height:auto;
						display:block;
						margin:0;
						padding:0;
					}
				}

			}
			.right {
				display:table-cell;
				width:50%;
				vertical-align:top;
				padding-left:20px;

			}
		}

		.profile-title {
			@include quiet_type;
			color: $lightgray;
		}
	}

}
h5.profile-title {
	text-transform:uppercase;
	text-align:center;
	border-bottom:1px solid $lightgray;
	margin:0 0 10px 0;
	font-family: $serif_font;
	font-weight:normal;

}


/* activity widget */
.pane-mnartist-activity-activity {

	.item-list {
		font-family: $serif_font;
		padding:10px;
		ul {
			margin:0;
			padding:0;

			li {
				list-style:none;
				border-bottom:1px solid #ccc;
				display:block;
				padding:0 0 10px 0;
				margin:0 0 10px 0;

				.feed-update-node-text {
					width:100%;
					text-overflow:ellipsis;
					overflow:hidden;
					display:block;
					white-space:nowrap;
				}
				.left {
					a {
						display:none;
					}
				}
				.feed-update-description {
					a {
						font-weight:bold;
					}
				}
			}
		}
	}
	.username {
		font-weight:bold;
	}
}
/* */


/* art widget on artist page */
.pane-user-mnartist-profiles-artworks {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	max-height:9999px;

	.block-inner {

		.block-content {
			background:none;

			dt {
				@include quiet_type;
				padding:0 0 5px 0;
				margin:0;
			}
			dd {
				padding:10px;
				background:#fff;
				margin:0;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
				max-height:9999px;
				height:auto;

				.thumbs {
					overflow-x:scroll;
					white-space: nowrap;
					padding-top:20px;
					margin-top:20px;
					border-top:1px solid #999;
					clear:both;
					float:none;

					img {
						margin-right:20px;
						height:120px;
						width:auto;

					}
				}
				.large-display {
					-webkit-transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
					-o-transition: all .2s ease-in-out;
					transition: all .2s ease-in-out;
					max-height:999px;
					height:auto;

					.slide {
						width:100%;
						-webkit-transition: all .2s ease-in-out;
						-moz-transition: all .2s ease-in-out;
						-o-transition: all .2s ease-in-out;
						transition: all .2s ease-in-out;
						max-height:999px;

						.content {
							clear:both;
							margin-bottom:20px;

							img {
								width:100%;
								height:auto;
							}
						}
						.left {
							float: left;
							width: 45%;
							vertical-align:top;
							font-family: $serif_font;
							position:relative;

							a {
								font-size:18px;
								display:block;
								border-bottom:1px solid #999;
								margin-bottom:10px;
							}

							.user-profile-slideshow-star {
								position:absolute;
								right: 0;
								top: -6px;
							}

							.menu {
								a {
									font-size:12px;
									display:inline-block;
									margin:0;
									border-bottom:none;
								}

							}
							.views-field-title {
								a {
									padding-bottom:8px;
									padding-right:25px;
								}
							}
						}
						.right {
							float: right;
							width: 45%;
							vertical-align:top;
						}
						.right:after {
							content:"";
							display:block;
							float:none;
							clear:both;
						}
					}
					.slide:after {
						content:"";
						clear:both;
						float:none;
						display:block;

					}
				}
			}
		}
	}
}
/* end artwork widgeet */


/* artist bio stuff (in the tabs( */
.profile-label {
	display:block;
	@include quiet_type;
}

.profile-city-state {
	font-family: $sans_regular_font;
	text-transform:uppercase;
	margin-bottom:10px;
}
/* */