@import "style";
@import "base";

// UPDATE FILE

/* @group Header */

#header_container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    padding: 0 15px;
    background: $main_bg;
    
    header {
        #walker_header {
            position: absolute;
            top: 0;
            left: 15px;
            right: 15px;
            height: 21px;
            border-bottom: 1px dotted $divider_color;
            
            h1 a,
            nav li > a {
                display: block;
                height: 12px;
                background: url(http://www.walkerart.org/static/img/header_sprite.png) no-repeat;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
        
                &:hover {
                    opacity: 0.36;
                }
            }
    
            h1 {
                position: absolute;
                top: 5px;
                left: 3px;
                margin: 0;
                padding: 0;
        
                a {
                    width: 149px;
                }
            }
    
            nav {
                position: absolute;
                top: 5px;
                right: 4px;
                z-index: 10;
        
                li {
                    float: left;
        
                    a {
                        padding-right: 12px;
                    }
                }
            }
            
            .menu,
            .art_on_call_link,
            nav ul ul,
            #mobile_search {
                display: none;
            }
    
            #visit > a {
                width: 36px;
                background-position: -163px 0;
            }
    
            #exhibitions_events > a {
                width: 163px;
                background-position: -213px 0;
            }
    
            #media > a {
                width: 46px;
                background-position: -391px 0;
            }
    
            #collections > a {
                width: 95px;
                background-position: -449px 0;
            }
    
            #join > a {
                width: 33px;
                background-position: -557px 0;
                padding-right: 0;
            }
            
            .weather {
                position: absolute;
                top: 5px;
                left: 175px;
                width: 300px;
                color: #a3a3a3;
                line-height: 12px;
            
                span {
                    display: block;
                    float: left;
                    height: 13px;
                    padding: 0 5px;
                }
            
                .conditions {
                    margin-left: 1px;
                    padding-left: 18px;
                }
            
                .conditions_0, .conditions_1, .conditions_2, .conditions_3, .conditions_4, .conditions_37, .conditions_38, .conditions_39, .conditions_45, .conditions_47 {
                    background: url(http://www.walkerart.org/static/img/header_footer_sprite.png) 0 -740px no-repeat; //storm
                }
            
                .conditions_5, .conditions_6, .conditions_7, .conditions_8, .conditions_9, .conditions_10, .conditions_11, .conditions_12, .conditions_17, .conditions_18, .conditions_35, .conditions_40 {
                    background: url(http://www.walkerart.org/static/img/header_footer_sprite.png) 0 -704px no-repeat; //rain
                }
            
                .conditions_13, .conditions_14, .conditions_15, .conditions_16, .conditions_41, .conditions_42, .conditions_43, .conditions_46 {
                    background: url(http://www.walkerart.org/static/img/header_footer_sprite.png) 0 -722px no-repeat; //snow
                }
            
                .conditions_19, .conditions_25, .conditions_26, .conditions_27, .conditions_28, .conditions_29, .conditions_30, .conditions_44 {
                    background: url(http://www.walkerart.org/static/img/header_footer_sprite.png) 0 -668px no-repeat; //clouds
                }
            
                .conditions_20, .conditions_21, .conditions_22, .conditions_23, .conditions_24 {
                    background: url(http://www.walkerart.org/static/img/header_footer_sprite.png) 0 -686px no-repeat; //fog
                }
            
                .conditions_31, .conditions_32, .conditions_33, .conditions_34, .conditions_36 {
                    background: url(http://www.walkerart.org/static/img/header_footer_sprite.png) 0 -758px no-repeat; //sun
                }
            
                .attribution {
                    display: none;
                    padding-top: 1px;
                    @include quiet_type;
                    line-height: 10px;
                
                    a {
                        color: #a3a3a3;
                    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        
        > h1 {
            margin: 29px 167px 6px;
            text-align: center;
            padding-right: 33px;
            padding-left: 33px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;
            -moz-binding: url(<q>assets/xml/ellipsis.xml#ellipsis</q>);
        }
        
        > h2 {
            margin: 0 0 8px;
        }
        
        #views {
            position: absolute;
            top: 30px;
            left: 15px;
            width: 42px;
        
            a,
            span {
                display: block;
                float: left;
                width: 21px;
                height: 21px;
                overflow: hidden;
                background: url(http://www.walkerart.org/static/img/views.png);
                text-indent: -9999px;
            
                &.active {
                    cursor: default;
                }
            
                &.grid.active {
                    background-position: 0 -21px;
                }
            
                &.list {
                    background-position: -21px 0;
                
                    &.active {
                        background-position: -21px -21px;
                    }
                }
            }
        }
    }
    
    .shadow {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        bottom: -5px;
        height: 6px;
        background: url(http://www.walkerart.org/static/img/header_shadow.png) center center no-repeat;
    }
}

/* @end */

/* @group Headings */

h1.intro {
    margin-top: 8px !important;
}

/* @end */

/* @group Search */

#search {
    position: absolute;
    top: 23px;
    right: 19px;
    width: 18px;
    height: 30px;
    margin-right: 0;
    overflow: hidden;
    background: url(http://www.walkerart.org/static/img/header_footer_sprite.png) -955px 9px no-repeat;
    cursor: pointer;

    &.inactive {
        background-position: -955px -33px;
    }

    &.active {
        background-position: -955px -73px;
    }

    &.expanded {
        border-bottom: 2px solid $main_color;
        background-color: #f9f9f9 !important;
    }

    input {
        width: 660px;
        margin-left: 20px;
        padding: 4px 4px 0;
        border: none;
        color: $main_color;
        background-color: transparent;
        font-size: 22px;
        line-height: 22px;
        -webkit-font-smoothing: antialiased;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        
        &:focus {
            outline: none;
        }
    }
}

#results_container {
    position: absolute;
    top: 59px;
    left: 12px;
}

.ui-autocomplete {
    width: 690px;
    padding: 0 5px 5px;
    background: $main_bg;
    
    li a {
        position: relative;
        display: block;
        width: 534px;
        padding: 5px 148px 5px 8px;
        border-bottom: 1px dotted $divider_color;
        background: $main_bg;
        font-size: 21px;
        line-height: 26px;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;
        @include no_break;
        
        &:hover,
        &.ui-state-hover {
            background: $highlight;
            color: $main_color;
        }
    }
}

/* @end */

/* @group Layout */

#main {
    position: relative;
    margin-top: 70px;
    margin-bottom: 246px;
    padding-top: 9px;
    
    .simple & {
        margin: 10px 0;
        padding-top: 0;
    }
}

/* @end */

/* @group Retina Graphics */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
        
    .conditions,
    #search {
        background-image: url(http://www.walkerart.org/static/img/header_footer_sprite@2x.png) !important;
        -moz-background-size: 1100px 1072px;
        -ie-background-size: 1100px 1072px;
        -o-background-size: 1100px 1072px;
        -webkit-background-size: 1100px 1072px;
        background-size: 1100px 1072px;
    }
    
    #header_container header #walker_header h1 a,
    #header_container header #walker_header nav li > a {
        background-image: url(http://www.walkerart.org/static/img/header_sprite@2x.png);
        -moz-background-size: 617px 12px;
        -ie-background-size: 617px 12px;
        -o-background-size: 617px 12px;
        -webkit-background-size: 617px 12px;
        background-size: 617px 12px;
    }
    
}

/* @end */

/* @group Media Queries */

@media screen and (max-width: 800px) {
    header .weather {
        display: none !important;
    }
}

@media screen and (min-width: 621px) {
    #header_container header nav {
        display: block !important;
    }
}

@media screen and (max-width: 620px) {
    #main {
        margin-top: 39px !important;
    }
    
    #header_container {
        padding: 0;
        
        .shadow {
            display: none !important;
        }
        
        header {
            position: relative;
            width: auto;
            height: auto;
            min-height: 31px;
            padding: 0 15px;
            background: $inverse_bg;
            
            > h1,
            > h2,
            #views,
            #search {
                display: none;
            }
            
            #walker_header {
                left: 0;
                right: 0;
                height: auto;
                border-bottom: 0;
                
                h1 {
                    position: relative;
                    float: left;
                    top: 0;
                    left: 15px;
                    width: 92px;
                    
                    a {
                        width: 92px;
                        height: 17px;
                        margin: 7px 0 0 4px;
                        background: url(http://www.walkerart.org/static/img/walker_small_inverse.png) no-repeat;
                    }
                }
                
                a:hover {
                    opacity: 1 !important;
                }
                
                .menu {
                    display: block;
                    float: right;
                    margin-top: 5px;
                    margin-right: 15px;
                    padding: 2px 2px 2px 3px;
                    border: 2px solid $inverse_color;
                    color: $inverse_color;
                    font-family: $sans_bold_font;
                    font-weight: bold;
                    line-height: 12px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    @include rounded;
            
                    &.active {
                        background: $inverse_color;
                        color: $inverse_bg;
                    }
                }
        
                .art_on_call_link {
                    display: block;
                    float: right;
                    width: 35px;
                    height: 20px;
                    margin: 5px 15px 0 0;
                    background: url(http://www.walkerart.org/static/img/art_on_call_mobile.png) no-repeat;
                    text-indent: -9999px;
                    overflow: hidden;
                }
                
                nav {
                    display: none;
                    position: relative;
                    clear: both;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: auto;
                    padding: 7px 15px 12px;
                    overflow: hidden;
                    background: $inverse_bg;
            
                    a {
                        color: $inverse_color;
                    }

                    ul li {
                        float: none;
                        
                        ul {
                            min-height: 0;

                            a {
                                height: auto !important;
                                padding: 5px 4px;
                                border-top: 1px dotted #999;
                                text-indent: 0;
                                background: none;
                                color: #999;
                                text-transform: none;
                            }
                        }
                    }

                    > ul > li > a {
                        display: block;
                        height: auto;
                        padding: 5px 4px;
                        border-top: 1px dotted #999;
                        font-family: $sans_bold_font;
                        font-weight: bold;
                        text-indent: 0;
                
                        &.active {
                            background: #999;
                            color: $inverse_bg;
                            border-top: 1px solid #999;
                        }
                    }

                    li#visit,
                    li#exhibitions_events,
                    li#media,
                    li#collections,
                    li#join {
                        background-image: none;

                        > a {
                            width: auto;
                        }
                    }
                }
                
                #mobile_search {
                    display: block;
                    margin-bottom: 7px;
    
                    input {
                        width: 100%;
                        padding: 3px 1px;
                        color: $main_color;
                        background: $main_bg;
                        border-top: 1px solid #000;
                        -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
                        box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
                    }
                }
            }
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 620px),
only screen and (-o-min-device-pixel-ratio: 3/2) and (max-width: 620px),
only screen and (min--moz-device-pixel-ratio: 1.5) and (max-width: 620px),
only screen and (min-device-pixel-ratio: 1.5) and (max-width: 620px) {
        
    #header_container header #walker_header h1 a {
        background-image: url(http://www.walkerart.org/static/img/walker_small_inverse@2x.png) !important;
        -moz-background-size: 92px 17px !important;
        -ie-background-size: 92px 17px !important;
        -o-background-size: 92px 17px !important;
        -webkit-background-size: 92px 17px !important;
        background-size: 92px 17px !important;
    }
    
}

/* @end */