.panel-2col { 
/*  overflow: hidden;  */
}

.panel-2col .panel-col-first { 
  float: left; 
  width: 75%; 
}
* html .panel-2col .panel-col-first {
  width: 74.9%;
}

.panel-2col .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.panel-2col .panel-col-last { 
  float: left; 
  width: 25%; 
}
* html .panel-2col .panel-col-last {
  width: 24.9%;
}

.panel-2col .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-2col .panel-separator {
  margin: 0 0 1em 0;
}


/* insets */
.inset-wrapper {
	width:100%;
	background:#fff;
	float:none;
	display:block;
	margin-left:10px;
	margin-right:10px;
}
.panel-2col .panel-col-first .panel-col-first.inset-left{ 
  float: left; 
  width: 25%; 
}
* html .panel-2col .panel-col-first .panel-col-first.inset-left{
  width: 24.9%;
}

.panel-2col .panel-col-first .panel-col-last.inset-right{ 
  float: left; 
  width: 75%;
}
* html .panel-2col .panel-col-first .panel-col-last.inset-right{
  width: 74.9%;
}


