/*
 *
    mnartist_profiles_resume_download.css
    --
    Styles for download view of resume.
 *
 */
p {
    margin: 0;
    padding: 0;
}
section {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}
section > div {
    margin-bottom: .5em;
}
.resume-block label {
    margin-right: 1em;
}
.resume-block label:after {
    content: ": ";
}