.user-feed,
.user-feed li {
    list-style: none;
}
.user-feed,
.user-feed li,
.user-feed,
.user-feed li img {
    margin: 0; padding: 0;
}
.user-feed li {
    margin-bottom: 1em;
}
.user-feed li img {
    border-radius: 50%;
}
