@import "bourbon";

@font-face {
    font-family: 'Circular';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/circamodern-webfont.eot');
    src: url('fonts/circamodern-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/circamodern-webfont.woff') format('woff'),
         url('fonts/circamodern-webfont.ttf') format('truetype');
}

$small: max-width 679px;
$medium: 680px;
$large: 920px;

// Breakpoint

$small: max-width 679px;
$medium: 680px;
$large: 920px;

// Color

$main-color: #111;
$main-bg: #e3e3e3;

// Typography

$main-font: 'Circular', sans-serif;




.organization-header {
    position: relative;
    max-width: 700px;
    height: 96px;
    color: #bbb;
    font-size: 20px;
    line-height: 24px;

    font-family: $main-font;

    @media (min-width: $medium) {
        font-size: 37px;
        line-height: 40px;
        height: 160px;
    }

    @media (min-width: $large) {
        font-size: 45px;
        line-height: 48px;
        height: 192px;
    }

    a {
        text-decoration: none;
    }

    h1 a {
        color: #333;

        &:hover {
            border-bottom: 1px solid $main-color;

            @media (min-width: $medium) {
                border-bottom-width: 2px;
            }

            @media (min-width: $large) {
                border-bottom-width: 3px;
            }
        }
    }

    .logo-parts {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 999;

        @media (min-width: $small) {
            display: none;
        }

        li {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 120px;
            height: 70px;
            background-position: center center;
            background-repeat: no-repeat;
            opacity: 0;
            @include hide-text;
            @include transition(top 0.3s ease-out, opacity 0.2s ease-in-out);

            &.visible {
                opacity: 1;
            }

            &.draggable {
                @include transition(none);
            }
        }

        &.logo-parts-1 li.logo-m { background-image: url(images/logo-1-m.svg); }
        &.logo-parts-1 li.logo-n { background-image: url(images/logo-1-n.svg); }
        &.logo-parts-1 li.logo-a { background-image: url(images/logo-1-a.svg); }

        &.logo-parts-2 li.logo-m { background-image: url(images/logo-2-m.svg); }
        &.logo-parts-2 li.logo-n { background-image: url(images/logo-2-n.svg); }
        &.logo-parts-2 li.logo-a { background-image: url(images/logo-2-a.svg); }

        &.logo-parts-3 li.logo-m { background-image: url(images/logo-3-m.svg); }
        &.logo-parts-3 li.logo-n { background-image: url(images/logo-3-n.svg); }
        &.logo-parts-3 li.logo-a { background-image: url(images/logo-3-a.svg); }

        &.logo-parts-4 li.logo-m { background-image: url(images/logo-4-m.svg); }
        &.logo-parts-4 li.logo-n { background-image: url(images/logo-4-n.svg); }
        &.logo-parts-4 li.logo-a { background-image: url(images/logo-4-a.svg); }

        &.logo-parts-5 li.logo-m { background-image: url(images/logo-5-m.svg); }
        &.logo-parts-5 li.logo-n { background-image: url(images/logo-5-n.svg); }
        &.logo-parts-5 li.logo-a { background-image: url(images/logo-5-a.svg); }

        &.logo-parts-6 li.logo-m { background-image: url(images/logo-6-m.svg); }
        &.logo-parts-6 li.logo-n { background-image: url(images/logo-6-n.svg); }
        &.logo-parts-6 li.logo-a { background-image: url(images/logo-6-a.svg); }
    }

    h1, .taglines, p {
        display: inline;
    }

    .communities {
        display: inline;

        li {
            display: inline;
        }
    }
}